.section_four {
	width:100%;
	background: $lightblack;
	padding-left:50px;
	
// 	padding-bottom:400px;
}


.why_choose_wrapper {
	width:100%;
	padding-left:20px;
	position: relative;
	&:after {
		content:"";
		clear:both;
		display: block;
	}
}


.why_choose_content_wrapper {
	width: 100%;
	max-width:632px;
	height:830px;
	background:#fff;
	margin-top:-230px;
	float:left;
	position: relative;
	z-index:1;
	padding-top:60px;
	span.why_choose_header {
		text-transform: uppercase;
		font-family: $akagilblack;
		font-size:16px;
		letter-spacing: 3px;
		float:left;
		margin:9px 0 0 18px;
		
		opacity: 0;
	}
}




.section_four.visible {
	.why_choose_content_wrapper {
		span.why_choose_header {
			animation-name: why_choose_title_fade, why_choose_title_letter_spacing, why_choose_title_move;
			animation-duration: 400ms,2000ms, 2000ms;
			animation-fill-mode: both;
			animation-timing-function: linear,cubic-bezier(.17,.66,.34,.98), cubic-bezier(.17,.66,.34,.98) ;
		}
	}
}



@keyframes why_choose_title_fade {
  from {
    opacity: 0;
 		
 		
  }

  to {
    opacity: 1;
    
    
  }
}



@keyframes why_choose_title_letter_spacing {
  from {
    letter-spacing: 8.5px;
 		
 		
  }

  to {
    letter-spacing: 3.5px;
    
    
  }
}

@keyframes why_choose_title_move {
  from {
    transform: translateX(80px);
 		
 		
  }

  to {
    transform: translateX(0px);
    
    
  }
}








.section_four.visible {
	.why_choose_slideshow {
		.slide_count_wrapper {
			animation-name: slide_counter_bg_fade, slide_counter_bg_move;
			animation-duration: 900ms, 1900ms;
			animation-fill-mode: both;
			animation-timing-function: linear, cubic-bezier(.17,.66,.34,.98);;
			animation-delay: 200ms;
			span {
				animation-name: slide_counter_text_move;
				animation-duration: 2200ms;
				animation-fill-mode: both;
				animation-timing-function: cubic-bezier(.17,.66,.34,.98);
				animation-delay: 0ms;
			}
		}
	}
}

@keyframes slide_counter_bg_fade {
  from {
   
 		opacity: 0;
 		
  }

  to {
  
   	opacity: 1;
    
  }
}




@keyframes slide_counter_bg_move {
  from {
   
 		background-position: 0 50px;
 		
  }

  to {
  
   	background-position: 0 0;
    
  }
}


@keyframes slide_counter_text_move {
  from {
   
 		transform: translateY(-60px);
 		
  }

  to {
  
   	transform: translateY(0px);
    
  }
}






.why_choose_slideshow {
	clear:both;
	margin-top:157px;
	padding: 0 19% 0 50px;
	.slide_count_wrapper {
		background: url(#{$themepath}images/sp-icon.png) top left no-repeat;
		width:75px;
		height:152px;
		background-size: 75px 152px;
		text-align: center;
		opacity: 0;
		span {
			font-family: $trironbold;
			font-size: 30px;
			display: block;
			margin-top:30px;
			display: inline-block;
		}
	}
	span.slide_title {
		font-family: $trironglight;
		color:$red;
		font-size:48px;
		letter-spacing: 0px;
		line-height: 48px;
		padding-left:20px;
		display: block;
		margin-top:-53px;
		position: relative;
		z-index:5;
	}
	span.slide_content {
		text-transform: uppercase;
		font-size:18px;
		line-height: 38px;
		font-family: $akagilblack;
		padding-left:28px;
		display: block;
		margin-top:40px;
		letter-spacing: 1.7px;
	}
}


svg#why_choose_gold_twolines {
	width:60px;
	height: 25px;
	margin-left:-20px;
	float:left;
	
	stroke-dasharray: 90;
	stroke-dashoffset: 90;
	polyline {
		fill:none;
		stroke:$greybrown;
		stroke-width:1.75px;
	}
}





.section_four.visible {
	svg#why_choose_gold_twolines {
		animation-name: why_choose_draw, why_choose_move;
		animation-duration: 1700ms, 2300ms;
		animation-fill-mode: both;
		animation-timing-function:linear, cubic-bezier(.17,.66,.34,.98);
		animation-delay: 200ms;
		
		polyline {
			
		}
	}
}





@keyframes why_choose_move {
  from {
    transform: translateX(-60px);
 		
  }

  to {
   transform: translateX(0px);
    
  }
}


@keyframes why_choose_draw {
  from {
   stroke-dashoffset: 90;
 		
  }

  to {
   stroke-dashoffset: 0;
    
  }
}













.why_choose_bg_wrapper {
	width:100%;
	float:right;
	margin-left: 0%;
	margin-top: -75px;
	overflow: hidden;
	position: absolute;
	top:0;
	left:0;
	
	opacity: 0;
	img {
		float:right;
		max-width: 100%;
		height:auto;
		
	}
}



	.why_choose_bg_wrapper.visible {
		animation-name: why_choose_img_fade, why_choose_img_move;
		animation-duration: 600ms, 1900ms;
		animation-fill-mode: both;
		animation-timing-function:linear, cubic-bezier(.17,.66,.34,.98);
		animation-delay: 300ms;
	}	

	


@keyframes why_choose_img_fade {
  from {
    opacity: 0;
 		
 		
  }

  to {
    opacity: 1;
    
    
  }
}



@keyframes why_choose_img_move {
  from {
   transform: translateX(0px) translateY(-100px);
 		
 		
  }

  to {
     transform: translateX(0px) translateY(0px);
    
    
  }
}








.why_choose_buttons {
	text-align: center;
	position: absolute;
	bottom:-30px;
	right:8%;
	width:100%;
	max-width:250px;
	.single_button {
		background:$greybrown;
		width:50%;
		display: inline-block;
		margin-right:-3px;
		padding:17px 0;
		cursor: pointer;
		transition: all .2s ease-in-out;
		opacity: 0;
		&:hover {
			background: $lightblack;
		}
		img {
			width:15px;
			
		}
	}
	.why_choose_back {
		
	}
	.why_choose_next {
		
	}
}




.why_choose_content_wrapper.visible {
	.why_choose_buttons {
		.single_button {
			
		}
		.why_choose_back {
			animation-name: why_choose_button_fade, why_choose_button_back_move;
			animation-duration: 500ms, 1800ms;
			animation-fill-mode: both;
			animation-timing-function: linear, cubic-bezier(.17,.66,.34,.98);;
			animation-delay: 300ms;
			img {
				animation-name: why_choose_button_back_img;
				animation-duration: 2300ms;
				animation-fill-mode: both;
				animation-timing-function:cubic-bezier(.17,.66,.34,.98);;
				animation-delay: 300ms;
			}
		}
		.why_choose_next {
			animation-name: why_choose_button_fade, why_choose_button_next_move;
			animation-duration: 500ms, 1800ms;
			animation-fill-mode: both;
			animation-timing-function: linear, cubic-bezier(.17,.66,.34,.98);;
			animation-delay: 300ms;
			img {
				animation-name: why_choose_button_next_img;
				animation-duration: 2300ms;
				animation-fill-mode: both;
				animation-timing-function:cubic-bezier(.17,.66,.34,.98);;
				animation-delay: 300ms;
			}
		}
	}
}  




@keyframes why_choose_button_fade {
  from {
    opacity: 0;
 		
  }

  to {
    
    opacity: 1;
  }
}



@keyframes why_choose_button_back_move {
  from {
    transform: translateX(-130px);
 		
  }

  to {
    
     transform: translateX(0px);
  }
}


@keyframes why_choose_button_next_move {
  from {
    transform: translateX(130px);
 		
  }

  to {
    
     transform: translateX(0px);
  }
}


@keyframes why_choose_button_back_img {
  from {
    transform: translateX(-50px);
 		
  }

  to {
    
     transform: translateX(0px);
  }
}



@keyframes why_choose_button_next_img {
  from {
    transform: translateX(50px);
 		
  }

  to {
    
     transform: translateX(0px);
  }
}




.why_choose_bg_slideshow, .bg_slide {
	overflow: hidden;
}









.section_four_lower {
	width:100%;
	padding:455px 0 0 0;
	text-align: center;
	overflow: hidden;
	span.large_header {
		font-family: $trironglight;
		color:#fff;
		font-size:115px;
		text-transform: lowercase;
		display: inline-block;
		max-width: 1160px;
		line-height: 124px;
	}
	span.sub_header {
		color:$red;
		font-size:24px;
		text-transform: uppercase;
		font-family:$akagilbold;
		display: inline-block;
		border-left:2px solid $red;
		border-right:2px solid $red;
		padding:5px 130px;
		letter-spacing: 6px;
		br {
			display: none;
		}
	}
}


svg#section_four_gold_threelines {
	width:140px;
	display: block;
	height: 70px;
	margin:35px auto 24px;
	polyline {
		fill:none;
		stroke:$lightbrown;
		stroke-width:2px;
		opacity: 0;
	}
}




.section_four_lower.visible {
	svg#section_four_gold_threelines {
		polyline#line_one {
			animation-name: three_lines_fade, line_one_move;
			animation-duration: 500ms, 1500ms;
			animation-fill-mode: both;
			animation-timing-function: linear, cubic-bezier(.17,.66,.34,.98);
			animation-delay: 1s;
		}
		polyline#line_two {
			animation-name: three_lines_fade, line_two_move;
			animation-duration: 500ms, 1500ms;
			animation-fill-mode: both;
			animation-timing-function: linear, cubic-bezier(.17,.66,.34,.98);
			animation-delay: 1s;
		}
		polyline#line_three {
			animation-name: three_lines_fade, line_three_move;
			animation-duration: 500ms, 1500ms;
			animation-fill-mode: both;
			animation-timing-function: linear, cubic-bezier(.17,.66,.34,.98);
			animation-delay: 1s;
		}
	}
}




@keyframes three_lines_fade {
  from {
    opacity: 0;
 		
 		
  }

  to {
    opacity: 1;
   
    
  }
}


@keyframes line_one_move {
  from {
    transform: translateX(-90px)  translateY(-20px);
 		
 		
  }

  to {
    transform: translateX(0px) translateY(0px);
   
    
  }
}


@keyframes line_two_move {
  from {
    transform: translateX(90px);
 		
 		
  }

  to {
    transform: translateX(0px);
   
    
  }
}


@keyframes line_three_move {
  from {
    transform: translateX(-90px)  translateY(20px);
 		
 		
  }

  to {
   transform: translateX(0px) translateY(0px);
   
    
  }
}





.testi_wrapper {
	margin:135px auto;
	max-width:1675px;
	position: relative;
	padding-bottom: 193px;
	.testi_col {
		margin:0 0.7%;
		span.testi_excerpt {
			font-size:26px;
			font-family: $trirongregular;
			color:$lightbrown;
			display: block;
			text-align: left;
			line-height: 30px;
			letter-spacing: 0px;
			padding-left:23px;
		}
		.testi_content {
			display: block;
			color:#fff;
			font-family: $trirongregular;
			clear:both;
			font-size:18px;
			line-height: 30px;
			text-align: left;
			letter-spacing: 0.7px;
			padding-left:23px;
		}
		span.name {
			text-align: left;
			display: block;
			padding-left:23px;
			font-family: $akagilbold;
			color:#5a6372;
			text-transform: uppercase;
			font-size:15px;
			letter-spacing: 4px;
			margin-top:41px;
		}
	}
}



svg.testi_red_line {
	width:50px;
	float:left;
	height:14px;
	margin:27px 0 32px;
	
	
	stroke-dasharray: 100;
  stroke-dashoffset: 100;
	
	polyline {
		fill:none;
		stroke:$red;
		stroke-width:2px;
	}
}




.testi_wrapper.visible {


		svg.testi_red_line {
			animation-name: slide_red_line_draw;
			animation-duration: 1500ms;
			animation-fill-mode: both;
			animation-timing-function: linear;
			
			stroke-dasharray: 100;
			stroke-dashoffset: 100;
			polyline {
				
			}
		}
	}







@keyframes slide_red_line_draw {
  from {
    stroke-dashoffset: 100;
 	}

  to {
    stroke-dashoffset: 0;
    
  }
}





.testi_buttons {
	width:100%;
	max-width:365px;
	position: absolute;
	right:30px;
	bottom:-0px;
	text-align: center;
	overflow: hidden;
	opacity: 0;
	.single_button {
		cursor: pointer;
		width:50%;
		padding:28px 5px;
		background: #2a2f36;
		transition: all .2s ease-in-out;
		&:first-of-type {
			border-right:2px solid $greybrown;
		}
		&:last-of-type {
			border-left:2px solid $greybrown;
		}
		&:hover {
			background: $greybrown;
		}
		img {
			display: inline-block;
			width:15px;
			
		}
		span {
			font-family: $akagilbold;
			color:#fff;
			text-transform: uppercase;
			font-size: 13px;
			letter-spacing: 5px;
			display: inline-block;
			position: relative;
			top:-4px;
		}
	}
	.testi_back {
		float:left;
		img {
			margin-right:20px;
		}
		span {
			
		}
	}
	.testi_next {
		float:right;
		img {
			margin-left:20px;
		}
		span {
			
		}
	}
}



.testi_wrapper.visible {

	.testi_buttons {
		animation-name: test_buttons_fade;
		animation-duration: 800ms;
		animation-fill-mode: both;
		animation-timing-function: linear;
		animation-delay: 1000ms;
		.single_button {
			span {
				animation-duration: 800ms, 1000ms;
				animation-fill-mode: both;
				animation-timing-function: linear, cubic-bezier(.17,.66,.34,.98);
				animation-delay: 1000ms;
			}
			img {
				animation-duration: 800ms, 1000ms;
				animation-fill-mode: both;
				animation-timing-function: linear, cubic-bezier(.17,.66,.34,.98) ;
				animation-delay: 1000ms;
			}
		}
		.testi_back {
			span {
				animation-name: test_buttons_fade, test_buttons_back_verbiage_move;
				
			}
			img {
				animation-name: test_buttons_fade, test_buttons_back_image_move;
				
			}
		}
		.testi_next {
			span {
				animation-name: test_buttons_fade, test_buttons_next_verbiage_move;
				
			}
			img {
				animation-name: test_buttons_fade, test_buttons_next_image_move;
				
			}
		}
	}

}  




@keyframes test_buttons_fade {
  from {
    opacity: 0;
 		
 		
  }

  to {
    opacity: 1;
    
    
  }
}



@keyframes test_buttons_back_verbiage_move {
  from {
    transform: translateX(-40px);
 		letter-spacing: 10px;
 		
  }

  to {
     transform: translateX(0px);
    letter-spacing: 5px;
    
  }
}


@keyframes test_buttons_back_image_move {
  from {
    transform: translateX(-30px);
 		
 		
  }

  to {
   transform: translateX(0px);
    
    
  }
}



@keyframes test_buttons_next_verbiage_move {
  from {
    transform: translateX(40px);
 		letter-spacing: 10px;
 		
  }

  to {
     transform: translateX(0px);
    letter-spacing: 5px;
    
  }
}






@keyframes test_buttons_next_image_move {
  from {
    transform: translateX(30px);
 		
 		
  }

  to {
   transform: translateX(0px);
    
    
  }
}







@media screen and (max-width: 1870px) {
	
	.why_choose_bg_wrapper {
		img {
			margin-right: -200px;
		}
	} 
	
	
} /* Media Query */





@media screen and (max-width: 1690px) {
	
	.why_choose_bg_wrapper {
		img {
			margin-right: -300px;
		}
	} 
	
	
} /* Media Query */




@media screen and (max-width: 1565px) {
	
	
.testi_buttons {
	
	opacity: 1;
	.single_button {
		
		&:first-of-type {
			
		}
		&:last-of-type {
			
		}
		&:hover {
			
		}
		img {
			
			
		}
		span {
			
		}
	}
	.testi_back {
		
		img {
			
		}
		span {
			
		}
	}
	.testi_next {
		
		img {
			
		}
		span {
			
		}
	}
}



.testi_wrapper.visible {

	.testi_buttons {
		animation-name: none;
		
		.single_button {
			span {
				
			}
			img {
				
			}
		}
		.testi_back {
			span {
				animation-name: none;
				
			}
			img {
				animation-name: none;
				
			}
		}
		.testi_next {
			span {
				animation-name: none;
				
			}
			img {
				animation-name:none;
				
			}
		}
	}

}  




svg.testi_red_line {
	
	
	
	stroke-dasharray: 0;
  stroke-dashoffset: 0;
	
	polyline {
		
	}
}




.testi_wrapper.visible {


		svg.testi_red_line {
			animation-name: none;
			
			stroke-dasharray: 0;
			stroke-dashoffset: 0;
			polyline {
				
			}
		}
	}







svg#section_four_gold_threelines {
	
	polyline {
		opacity: 1;
	}
}




.section_four_lower.visible {
	svg#section_four_gold_threelines {
		polyline#line_one {
			animation-name: none;
		}
		polyline#line_two {
			animation-name: none;
		}
		polyline#line_three {
			animation-name: none;
		}
	}
}






.why_choose_content_wrapper {
	
	span.why_choose_header {
		opacity: 1;
	}
}




.section_four.visible {
	.why_choose_content_wrapper {
	span.why_choose_header {
		animation-name: none;
		
	}
	}
}



svg#why_choose_gold_twolines {
	stroke-dasharray: 0;
	stroke-dashoffset: 0;
	polyline {
		
	}
}







.why_choose_buttons {
	
	.single_button {
		
		opacity: 1;
		&:hover {
			
		}
		img {
		
			
		}
	}
	.why_choose_back {
		
	}
	.why_choose_next {
		
	}
}




.why_choose_content_wrapper.visible {
	.why_choose_buttons {
		.single_button {
			
		}
		.why_choose_back {
			animation-name: none;
			img {
				animation-name: none;
			}
		}
		.why_choose_next {
			animation-name: none;
			img {
				animation-name: none;
			}
		}
	}
}  





.section_four.visible {
	.why_choose_slideshow {
		.slide_count_wrapper {
			animation-name: none;
			span {
				animation-name: none;
			}
		}
	}
}







.why_choose_slideshow {
	
	.slide_count_wrapper {
		
		opacity: 1;
		span {
			
		}
	}
	span.slide_title {
		
	}
	span.slide_content {
		
	}
}









.section_four.visible {
	svg#why_choose_gold_twolines {
		animation-name: none;
		
		polyline {
			
		}
	}
}


	
	
.why_choose_bg_wrapper {
	opacity: 1;
	img {
	
		
	}
}


.section_four.visible {
	.why_choose_bg_wrapper {
		animation-name: none;
	}	
}
	










.why_choose_buttons {
	
	.single_button {
		
		&:hover {
			
		}
		img {
			
			
		}
	}
	.why_choose_back {
		
	}
	.why_choose_next {
		
	}
}




.section_four.visible {
	.why_choose_buttons {
		.single_button {
			
		}
		.why_choose_back {
			animation-name: none;
			img {
				animation-name: none;
			}
		}
		.why_choose_next {
			animation-name: none;
			img {
				animation-name: none;
			}
		}
	}
}  

	
	
	
	
} /* Media Query */




@media screen and (max-width: 1455px) {
	
	.section_four {
		padding-left:0;
		padding-right:0px;
	}
	
	
	.section_four_lower {
		padding: 185px 20px 0;
	}
	
	
	.why_choose_wrapper {
		padding-top:590px;
	}
	
	

	.testi_wrapper {
		padding:0 20px;
		margin-bottom:300px;
	}

	
	.why_choose_content_wrapper {
		float:none;
		margin:0 auto;
		max-width: 792px;
		height: 710px;
	}
	
	.why_choose_bg_wrapper {
		margin-top:0;
		float:none;
		.bg_slide {
			
			width:100%;
			height:998px;
		}
		.bg_slide_one {
			background: url(#{$themepath}images/sp-image-1.jpg) top center no-repeat;
		}
		.bg_slide_two {
			background: url(#{$themepath}images/sp-image-2.jpg) top center no-repeat;
		}
		.bg_slide_three {
			background: url(#{$themepath}images/sp-image-3.jpg) top center no-repeat;
		}
		img {
			float:none;
			width:100%;
			margin-right:0px;
			display: none;
		}
	}
	
	
	.testi_buttons {
		bottom:-150px;
	}
	
	
	.why_choose_slideshow {
		padding-right:50px;
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1165px) {
	
	
	.section_four {
		
	}
	
	
	.why_choose_wrapper {
		padding: 458px 40px 0;
	}
	
	
	.why_choose_content_wrapper {
		max-width: 638px;
		height: 838px;
	}
	
	
	
	
	.why_choose_bg_wrapper {
		.bg_slide {
			height: 860px;
		}
		.bg_slide_one {
			background-position: center -99px;
		}
		.bg_slide_two {
			background-position: top center;
		}
		.bg_slide_three {
			background-position: top center;
		}
	}
	
	.why_choose_slideshow {
		span.slide_content {
			 max-width: 448px;
			 margin-top: 37px;
		}
	}
	
	
	
	
.section_four_lower {
	padding: 140px 0px 0;
	span.large_header {
		font-size:78px;
		line-height: 74px;
		padding: 0 50px;
	}
	span.sub_header {
		padding: 1px 130px;
		line-height: 25px;
		br {
			display: inline-block;
		}
	}
}

	
	
	svg#section_four_gold_threelines {
		margin: 50px auto 11px;
	}
	
	
	.testi_wrapper {
		margin-top:79px;
		margin-bottom: 232px;
		.testi_col {
			
			.testi_content {
				text-align: center;
				max-width:605px;
				margin-left:auto;
				margin-right:auto;
				padding-left:0;
			}
			span.name {
				text-align: center;
				padding-left:0;
			}
			span.testi_excerpt {
				padding-left: 0px;
				margin-left:auto;
				margin-right:auto;
				max-width: 440px;
				text-align: center;
			}
		}
	}  
	
	
	svg.testi_red_line {
		float:none;
		margin-bottom:24px;
	}
	
	
	.testi_buttons {
		width:100%;
		max-width:100%;
		left:0;
		bottom: -233px;
		.single_button {
			 padding: 29px 5px;
			 span {
				 top: -6px;
			 }
		}
		.testi_back {
			text-align: left;
			padding-left:33px
		}
		.testi_next {
			text-align: right;
			padding-right:33px
		}
		
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 760px) {
	
	
	.section_four {
		
	}
	
	
	.testi_wrapper {
		margin-bottom:199px;
	}
	
	
	.testi_buttons {
    bottom: -199px;
   }
	
	svg.testi_red_line {
		margin-bottom:11px;
	}
	
	.why_choose_wrapper {
		padding: 332px 15px 0;
	}
	
	.why_choose_content_wrapper {
		padding-top: 22px;
		padding-bottom: 91px;
		height:auto;
		span.why_choose_header {
			width: 165px;
		}
	}
	   
	.why_choose_slideshow {
		margin-top: 82px;
		padding: 0 30px 0 22px;
		span.slide_title {
			margin-top: -79px;
		}
		span.slide_content {
			line-height: 32px;
			margin-top: 24px;
		}
	}
	
	
	
	
	
	.why_choose_bg_wrapper {
		.bg_slide_one {
			background: url(#{$themepath}images/sp-image-1-m.jpg) top center no-repeat;
		}
		.bg_slide_two {
			background: url(#{$themepath}images/sp-image-2-m.jpg) top center no-repeat;
		}
		.bg_slide_three {
			background: url(#{$themepath}images/sp-image-3-m.jpg) top center no-repeat;
		}
	} 
	
	svg#why_choose_gold_twolines {
		margin-top: 9px;
		margin-left: 25px;
	}
	
	
} /* Media Query */




@media screen and (max-width: 400px) {
	
	
	.why_choose_slideshow {
// 		padding: 0 12px;
		.slide_count_wrapper {
			text-align: left;
			span {
				 margin-left: 9px;
			}
		}
		span.slide_title {
			font-size:39px;
			line-height: 39px;
			padding-left: 8px;
		}
		span.slide_content {
			 padding-left: 10px;
			 padding-right:10px;
		}
	}
	
	
.testi_buttons {
	.testi_back {
		padding-left: 19px;
		img {
			margin-right:5px;
		}
	}
	.testi_next {
		padding-right: 19px;
		img {
			margin-left:5px;
		}
	}
}  
	
	
	
	
} /* Media Query */

