.section_six {
	width:100%;
	position: relative;
	z-index:10;
	padding-bottom:237px;
}


.inner_section_six {
	max-width:1790px;
	margin:0 auto;
	padding:0 48px;
// 	background:red;
	&:after {
		content:"";
		display: block;
		clear:both;
	}
}


.pa_sidebar {
	width:590px;
	background:$lightblack;
	margin-top:-82px;
	float:left;
	padding:104px 0 117px 0;
	span.large_header {
		color:#fff;
		float:left;
		font-size: 70px;
		font-family: $trirongregular;
		text-transform: lowercase;
		max-width:400px;
		width:100%;
		line-height: 65px;
		letter-spacing: 2px;
		strong {
			font-weight: 300;
			font-style: none;
			color:$greybrown;
		}
	}
	ul {
		width:100%;
		clear:both;
		list-style: none;
		margin:0;
		padding:70px 75px 0;
		li {
			text-transform: uppercase;
			font-family: $akagilbold;
			font-size:17px;
			line-height: 22px;
			border-bottom: 1px solid #373d48;
			letter-spacing: 3px;
			position: relative;
			a {
				color:#fff;
				text-decoration: none;
				display: block;
				padding:17px 15px;
				transition: all .3s ease-in-out;
				span {
// 					float:left;
				}
				svg {
					opacity: 0;
					transition: all .3s ease-in-out;
				}
				&:hover {
					background:$greybrown;
					color:$lightblack;
					svg {
						opacity: 1;
					}
				}
			}
		}
	}
}


svg#red_lines_pa{
	width:100px;
	height:60px;
	float:left;
	margin-left:-48px;
	margin-right:36px;
	position: relative;
	top:27px;
	
	stroke-dasharray: 100;
	stroke-dashoffset:100;
	
	polyline {
		fill:none;
		stroke:$red;
		stroke-miterlimit:10;
		stroke-width:1.5px;
	}
}




.section_six.visible {

	svg#red_lines_pa{
		animation-name: section_six_svg_draw;
		animation-duration: 2000ms;
		animation-fill-mode: both;
		animation-timing-function: linear;
		animation-delay: 0ms;
		polyline {
		
		}
	}

}



@keyframes section_six_svg_draw {
  from {
   stroke-dashoffset:100;
 		
  }

  to {
    stroke-dashoffset:0;
    
  }
}








svg#list_item_white_line {
	width:53px;
	position: absolute;
	top:24px;
	right:-25px;
	polyline {
		fill:none;
		stroke:#fff;
		stroke-miterlimit:10;
		stroke-width:1.5px;
	}
}



.pa_content {
	width:calc(100% - 590px);

	float:left;
	padding-left:5%;
	padding-top:207px;
	max-width: 977px;
}


@media screen and (max-width: 1645px) {
	
	
	
	.pa_sidebar {
		width:545px;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1565px) {
	
	
	


	svg#red_lines_pa{
		stroke-dasharray:0;
		stroke-dasharray:0;
		polyline {
		
		}
	}

	
	
	
	
.section_six.visible {

	svg#red_lines_pa{
		animation-name: none;
		polyline {
		
		}
	}
}

	
	
	
	
} /* Media Query */




@media screen and (max-width: 1365px) {
	
	.inner_section_six {
		display: flex;
		flex-direction: column;
	}
	
	.pa_sidebar {
		width:100%;
		float:none;
		order:2;
		margin:0;
		max-width: 700px;
		margin-left:auto;
		margin-right:auto;
		position: relative;
		left:-35px;
		margin-top:65px;
	}
	
	.pa_content {
		width:100%;
		float:none;
		order:1;
	}	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1165px) {
	
	
	.section_six {
		padding-bottom: 175px;
	}
	
	 
	.pa_content {
		 padding-top: 141px;
		 padding-left:0;
	}
	
	.inner_section_six {
		padding: 0 63px;
	}
	
	
	.pa_sidebar {
		margin: 34px auto 0;
		left:0;
		max-width: 589px;
		width: 95%;
		ul {
			padding: 70px 87px 0;
		}
	}
	
	

	
	
	
} /* Media Query */





@media screen and (max-width: 760px) {
	
	
	.section_six {
    padding-bottom: 136px;
	}
	
	.inner_section_six {
		padding:0;
	}
	
	
	.pa_content {
		padding-left:25px;
		padding-right:25px;
	}
	
	
	.pa_sidebar {
		width:100%;
		margin: 75px auto 0;
		padding: 80px 0 117px;
		overflow: hidden;
		span.large_header {
			font-size:50px;
			line-height: 45px;
			max-width: 230px;
			line-height: 45px;
			br {
				display: none;
			}
		}
		ul {
			padding: 55px 60px 0;
			li {
				height:67px;
				a {
					position: relative;
					top: 50%;
					transform: translateY(-50%);
					padding: 13px 15px;
					&:hover {
				    background: transparent;
				    color:#fff;
				    svg {
					    opacity: 0;
					    
				    }
			    }
				}
			}
		}
	}
	
	
	
	svg#red_lines_pa {
		margin-right:15px;
		top: -12px;
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 590px) {
	
	
	
	.pa_sidebar {
		padding: 80px 0 100px;
		ul {
	    padding: 55px 23px 0;
	    li {
		    a {
			    
		    }
	    }
		}
	} 
	
	
	
	
} /* Media Query */

