.section_three {
	width:100%;
	background:$greylight;
	margin:-85px 0 0px 0;
	text-align: center;
	padding:330px 60px 269px;
	br {
		display: none;
	}
	h1 {
		font-size:135px;
		line-height: 115px;
		font-family: $trirongregular;
		font-style: normal;
		font-weight: 300;
		max-width:1060px;
		margin-left:auto;
		margin-right:auto;
	}
	h2.block {
		font-size:22px;
		line-height:30px;
		text-transform: uppercase;
		font-family: $akagilblack;
		color:$red;
		letter-spacing: 6.6px;
		font-style: normal;
		font-weight: 300;
		border-left:2px solid $red;
		border-right:2px solid $red;
		display: inline-block;
		padding:2px 115px;
	}
}


svg#section_three_red_twolines {
	width:137px;
	margin:58px auto 75px;
	display: block;
	height:30px;
	polyline {
		fill:none;
		stroke:$greybrown;
		stroke-miterlimit:10;
		stroke-width:2px;
		opacity: 0;
	}
}


.section_three.visible {

	svg#section_three_red_twolines {
	
		polyline {
		
		}
		polyline.red_line_one {
			animation-name: section_three_two_lines_fade, section_three_polyline_one_move;
			animation-duration: 500ms, 1500ms;
			animation-fill-mode: both;
			animation-timing-function:linear, cubic-bezier(.17,.66,.34,.98); 
			animation-delay: 500ms;
		}
		polyline.red_line_two {
			animation-name: section_three_two_lines_fade, section_three_polyline_two_move;
			animation-duration: 500ms, 1500ms;
			animation-fill-mode: both;
			animation-timing-function:linear, cubic-bezier(.17,.66,.34,.98); 
			animation-delay: 500ms;
			
			
		}
	}

}




@keyframes section_three_two_lines_fade {
  from {
    opacity: 0;
 		
 		
  }

  to {
    opacity: 1;
  
    
  }
}


@keyframes section_three_polyline_one_move {
  from {
    transform: translateX(-70px) translateY(15px);
 		
 		
  }

  to {
   transform: translateX(0px) translateY(0px);
  
   }
}


@keyframes section_three_polyline_two_move {
  from {
    transform: translateX(70px) translateY(-15px);
 		
 		
  }

  to {
   transform: translateX(0px) translateY(0px);
  
   }
}








.section_three_container {
	max-width: 1650px;
	margin:65px auto 0;
	overflow: hidden;
	padding: 60px 77px 40px;
}


.section_three_content {
	text-align: left;
	width:calc(100% - 615px);
	float:left;
	margin-top:20px;
}



.section_three_sidebar {
	width:615px;
	float:right;
	padding-left:130px;
	
	.section_three_innersidebar {
		background: transparent;
		width:100%;
		float:right;
		padding:55px 100px 131px 60px;
		
		span.section_three_sidebar_content {
			display: block;
			clear:both;
			text-align: left;
			font-size:18px;
			font-family: $akagilblack;
			text-transform: uppercase;
			line-height: 33px;
			letter-spacing: 1.6px;
			strong {
				font-weight: 300;
				color:$lightblack;
			}
			i {
				font-style: normal;
				color:$lightblack;
			}
		}
	}
}




.section_three_sidebar.visible {
	.section_three_innersidebar {
		span.section_three_sidebar_content {
			strong {
				animation-name: brown_fade;
				animation-duration: 1000ms;
				animation-fill-mode: both;
				animation-timing-function: linear;
				animation-delay: 2200ms;
			}
			i {
				animation-name: red_fade;
				animation-duration: 1000ms;
				animation-fill-mode: both;
				animation-timing-function: linear;
				animation-delay: 2200ms;
			}
		}
	}
}  



@keyframes brown_fade {
  from {
    color:$lightblack;
 		
  }

  to {
    color:$greybrown;
    
  }
}



@keyframes red_fade {
  from {
    color:$lightblack;
 		
  }

  to {
    color:$red;
    
  }
}



.video_fade {
	position: relative;
	animation-name: video_fade;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(.17,.66,.34,.98);
  animation-delay: 1s;
  
  // have the delay be the class being after load in jquery

 }


.section_three_sidebar.visible {
	.section_three_innersidebar {
		animation-name: sidebar_bg_fade;
		animation-duration: 1500ms;
		animation-fill-mode:both;
		animation-timing-function: linear;
	}
}



@keyframes sidebar_bg_fade {
  from {
    background: transparent;
 		
 		
  }

  to {
    background: #fff;
    
  }
}






svg#section_three_gold_twolines {
	width:158px;
	float:left;
	margin-left:-103px;
	margin-bottom:27px;
	height:29px;
	
	stroke-dasharray: 300;
	stroke-dashoffset: 300;
	polyline {
		fill:none;
		stroke:$greybrown;
		stroke-miterlimit:10;
		stroke-width:2px;
	}
}


.section_three_sidebar.visible {
	svg#section_three_gold_twolines {
		animation-name: section_three_sidebar_move, section_three_sidebar_draw;
		animation-duration: 2500ms, 2300ms;
		animation-fill-mode: both;
		animation-timing-function:cubic-bezier(.17,.66,.34,.98), linear;
		animation-delay: 200ms;
		polyline {
			
		}
	}	
}




@keyframes section_three_sidebar_move {
  from {
    transform: translateX(-80px);
 		
  }

  to {
   transform: translateX(0px);
    
  }
}


@keyframes section_three_sidebar_draw {
  from {
   stroke-dashoffset: 300;
 		
  }

  to {
   stroke-dashoffset: 0;
    
  }
}








.diamond {
	width:275px;
	position: relative;
	float:right;
	margin:-90px -70px 0 0;
	img {
		position: absolute;
		top: 53px;
		left: 89px;
		z-index:1;
		
		 opacity: 0
	}
}



.section_three_sidebar.visible {
	.diamond {
		img {
			animation-name: logo_fade, logo_move;
			animation-duration: 500ms, 1500ms;
			animation-fill-mode: both;
			animation-timing-function: linear, cubic-bezier(.17,.66,.34,.98);
			animation-delay: 2400ms;
		}
	}
}


@keyframes logo_fade {
  from {
    opacity: 0;
 		
  }

  to {
    opacity: 1;
    
  }
}


@keyframes logo_move {
  from {
   transform: translateY(-40px);
 		
  }

  to {
    transform: translateY(0px);
    
  }
}







svg#black_square {
	transform: rotate(45deg);
	width:203px;
	
	rect {
		stroke-dasharray: 700;
		stroke-dashoffset: 700;
	
		stroke:$lightblack;
		stroke-width:1px;
		
		fill:transparent;

	}
}


.section_three_sidebar.visible {
	svg#black_square {
		
		rect {
			
			
			
			animation-name: diamond_stroke, diamond_fill;
			animation-duration: 1600ms, 700ms;
			animation-fill-mode: both;
			animation-timing-function: linear;
			animation-delay: 900ms,2200ms;
			
			
		
		}
	}
}



@keyframes diamond_stroke {
  from {
    stroke-dashoffset: 700;
 		
  }

  to {
    
    stroke-dashoffset: 0;
  }
}


@keyframes diamond_fill {
  from {
    
 	
  }

  to {
    
    fill:$lightblack;
  }
}




@media screen and (max-width: 1565px) {
	


.section_three_sidebar {
	.section_three_innersidebar {
		background: #fff;
	}
}




.section_three_innersidebar {
		span.section_three_sidebar_content {
			strong {
				color:$greybrown;
			}
			i {
				color:$red;
			}
		}
	}





.section_three_sidebar.visible {
	.section_three_innersidebar {
		span.section_three_sidebar_content {
			strong {
				animation-name: none;
			}
			i {
				animation-name: none;
			}
		}
	}
}  

	
	
.section_three_sidebar.visible {
	.section_three_innersidebar {
		animation-name: none;
	}
}
	
	
svg#section_three_red_twolines {
	polyline {
		opacity: 1;
	}
}


.section_three.visible {

	svg#section_three_red_twolines {
	
		polyline {
		
		}
		polyline.red_line_one {
			animation-name: none;
		}
		polyline.red_line_two {
			animation-name: none;
			
			
		}
	}

}

	
	
	
svg#section_three_gold_twolines {
	stroke-dasharray: 0;
	stroke-dashoffset: 0;
	polyline {
	
	}
}


.section_three_sidebar.visible {
	svg#section_three_gold_twolines {
		animation-name: none;
	
		polyline {
			
		}
	}	
}







svg#section_three_gold_twolines {

	
	stroke-dasharray: 0;
	stroke-dashoffset: 0;
	polyline {
		fill:none;
		stroke:$greybrown;
		stroke-miterlimit:10;
		stroke-width:2px;
	}
}


.section_three_sidebar.visible {
	svg#section_three_gold_twolines {
		animation-name: none;
		polyline {
			
		}
	}	
}



.diamond {
		img {
			opacity: 1;
		}
	}


.section_three_sidebar.visible {
	.diamond {
		img {
			animation-name: none;
		}
	}
}





svg#black_square {
	rect {
		stroke-dasharray: 0;
		stroke-dashoffset: 0;
		fill:$lightblack;
	}
}


.section_three_sidebar.visible {
	svg#black_square {
		rect {
			animation-name: none;
		}
	}
}


	

	
} /* Media Query */




@media screen and (max-width: 1465px) {
	
	
	.section_three {
		padding-bottom:150px;
	}
	
	
	
} /* Media Query */




@media screen and (max-width: 1365px) {
	
	
	
	.section_three_content {
		width:100%;
		float:none;
	}
	
	.section_three_sidebar {
		width:100%;
		float:none;
		margin-top:100px;
		padding-left:0;
	}
	
	
} /* Media Query */



@media screen and (max-width: 1165px) {
	
	
	.section_three {
		margin: 0;
		padding: 115px 10px 92px;
		br {
			display: inline-block;
		}
		h1 {
			font-size:100px;
			line-height: 90px;
		}
		h2.block  {
			margin-left:30px;
			margin-right:30px;
			padding: 0px 35px;
			line-height: 26px;
		}
	}
	
	svg#section_three_red_twolines {
		margin-bottom:50px;
	}
	
	
	.section_three_container {
		margin: 18px auto 0;
		padding:60px 39px 40px;
	}
	
	
	.section_three_sidebar {
		margin-top: 81px;
		padding: 0 40px;
		&:after {
			content:"";
			clear:both;
			display: block;
		}
		.section_three_innersidebar {
			padding: 55px 100px 151px 60px;
		}
	}
	
	
	
	
	.diamond {
		margin: -105px -10px 0 0;
	}
	
	
	svg#section_three_gold_twolines {
		margin-left: -114px;
		margin-bottom: 46px;
	}

	
	
	
} /* Media Query */



@media screen and (max-width: 760px) {
	
	
	
	.section_three {
		padding: 113px 0 42px;
		h1 {
			font-size:55px;
			line-height: 55px;
		}
		h2.block  {
			font-size: 20px;
			line-height: 25px;
			margin-left: 15px;
			margin-right: 15px;
			letter-spacing: 3px;
			padding:0 10px;
			padding: 0 20px;
			br {
				display: none;
			}
		}
	}
	
	
	svg#section_three_red_twolines {
		margin-top:36px;
		margin-bottom: 32px;
	}
	
	.section_three_container {
		margin: 0 auto;
		padding: 60px 16px 40px;
	}
	
	
	.section_three_sidebar {
		margin-top: 33px;
		padding: 0 11px;
		.section_three_innersidebar {
			padding: 31px 26px 86px 27px;
			span.section_three_sidebar_content {
				line-height: 28px;
			}
		}
	}
	
	svg#section_three_gold_twolines {
		margin-bottom: 12px;
		margin-left:-100px;
		position: relative;
		left:-10px;
	}
	
	
	.section_three_content {
		  padding: 0 10px;
	}
	
	
	.diamond {
		margin: -44px -33px 0 0;
		img {
			width:74px;
			left: 103px;
		}
	}
	
	
	svg#black_square {
		width: 161px;
	}
	
	
} /* Media Query */


