

.section_two {
	position: relative;
	z-index:30;
	padding-left:45px;
	display: flex;
}

.intro_form_wrapper {
	width:51%;
	background:$lightblack;
	height:515px;
	margin-top:-100px;
	padding:83px;
	text-align: center;
}


svg#red_line_form {
	width:53px;
	margin:12px auto 0;
	display: block;
	polyline {
		fill:none;
		stroke:$red;
		stroke-miterlimit:10;
		stroke-width:1.5px;
	}
}


.form_container {
	color:#fff;
	position: relative;
	span.form_parts {
		color:#fff;
		font-family: $oswald;
		 font-family: $oswaldmedium;
		font-size:17px;
		letter-spacing: 1px;
		display: block;
	}
	span.injury_title {
		font-family: $trironglight;
		font-size:55px;
		line-height: 59px;
		margin-top:25px;
		display: block;
		max-width:575px;
		margin-left:auto;
		margin-right:auto;
		line-height: 59px;
	}
	
	
}



.select_wrapper {
	margin:50px auto;
	cursor: pointer;
	max-width: 512px;
	position: relative;
	border:$greybrown 1px solid;
	border-radius: 8px;
	&:after {
		content:"";
		width:70px;
		height:100%;
		background: url(#{$themepath}images/form-arrow.png) $greybrown center center no-repeat;
		background-size: 20px 14px;
		position: absolute;
		top:0;
		right:0;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		pointer-events: none;
	}
	select:-moz-focusring {
		color: transparent;
		text-shadow: 0 0 0 #fff;
	}
	select#stepone {
		-webkit-appearance: none;
		appearance: none;
		-moz-appearance: none;
		border:none;
		background: transparent;
		font-family: $akagilight;
		color:#fff;
		font-size: 28px;
		padding:16px 130px 16px 20px;
		width:100%;
		letter-spacing: 1px;
		box-shadow: none;
		background-image: none;
		&:focus {
			outline: none;
		}
		option {
						
		}
	}
}


.my_gf_hide {
	display: none;
}







.intro_form {
	span.intro_request {
		display: block;
		color:$greybrown;
		font-family: $trironglight;
		font-size:45px;
		letter-spacing: 1.2px;
	}
	span.required_intro {
		display: block;
		color:$red;
		text-transform: uppercase;
		font-family: $akagilbold;
		font-size:17px;
		letter-spacing: 5px;
		margin:15px 0 35px;
	}
	span.step_one_back {
		color:$greybrown;
		font-family:$akagilbold;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		float:left;
		margin-top:5px;
		cursor: pointer;
	}
	ul {
		list-style: none;
		
		li#field_2_1, li#field_2_3, li#field_2_4 {
			// float:left;
		}
		li#field_2_5 {
			float:right;
			margin-top:-228px;
			.gfield_description, .validation_message {
				top:120px;
			}
		}
		li.my_gf_step_two {
			width:49.5%;
			position:relative;
			&:after {
				content:"*";
				position: absolute;
				top:26px;
				right:15px;
				color:$lightblack;
				z-index:1;
			}
		}
		li ::-webkit-input-placeholder {
      color: $lightblack;
     }
     li ::-moz-placeholder {
       color: $lightblack;
      }
     li :-moz-placeholder {
       color: $lightblack;
     }
     li :-ms-input-placeholder {
       color: $lightblack;
     }
     li ::-moz-placeholder {
       opacity: 1;
     }
		li {
			width: 100%;
			margin-bottom:9px;
			
			label {
				display: none;
			}
			input {
				height:67px;
			}
			textarea {
				height:143px;
			}
			select, input, textarea {
				width: 100%;
				border:none;
			}
			input, textarea {
				font-family: $trirongmedium;
				font-size: 15px;
				color:$lightblack;
				padding:20px 30px 20px 20px;
				border-radius: 4px;
				letter-spacing: 1.5px;
			}
		}
		li#field_2_8, li#field_2_9 {
			display: none;
		}
	}
	.gform_footer {
		width:49.5%;
		float:right;
		margin-top:-76px;
		input[type="submit"] {
			border:none;
			width:100%;
			background: $red;
			height:67px;
			border-radius: 4px;
			text-transform: uppercase;
			color:#fff;
			font-family: $akagilblack;
			font-size: 15px;
			letter-spacing: 6px;
			cursor: pointer;
			transition: all .2s ease-in-out;
			&:hover {
				background: $greybrown;
			}
		}
	}
	.gfield_description {
		color:$red;
		text-transform: uppercase;
		font-family: $akagilbold;
		position: absolute;
		font-size: 12px;
		letter-spacing: 1.5px;
		top:45px;
		left:20px;
	}
	.instruction  {
		display: none;
	}
}


svg#back_arrow {
		width:8px;
		float:left;
		transform: rotate(90deg);
		position: relative;
		top:-7px;
		margin-right:28px;
		margin-left:20px;
		line.arrow_line {
			fill:none;
			stroke:$greybrown;
			stroke-miterlimit:10;
		}
		polygon.arrow_tri {
			fill:$greybrown;
		}
	}







.case_results_wrapper {
	width:49%;
	height:695px;
	margin-top:-195px;
	background:#fff;
}


.case_results {
	text-align: center;
	padding:130px 0 0 0;
	overflow: hidden;
	span.current_cases {
		font-size:16px;
		letter-spacing: 3.5px;
		font-family: $akagilblack;
		text-transform: uppercase;
		border-left:1px solid #000;
		border-right:1px solid #000;
		padding:5px 49px;
		display: inline-block;
		margin-bottom:27px;
		position: relative;
		z-index:1;
	}
}


.single_case {
	position: relative;
	.case_icon {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		svg {
			display:block;
			width:105px;
			margin:-120px auto 0;
			path {
				fill:#f2f2f2;
			}
			
		}
		svg#svg_cr1 {
			width:105px;
			margin:-120px auto 0;
		}
		svg#svg_cr2 {
			width:343px;
			margin:-25px auto 0;
		}
		svg#svg_cr3 {
			width:418px;
			margin:-50px auto 0;
		}
		svg#svg_cr4 {
			width:435px;
			margin:-70px auto 0;
		}
	}
	.single_case_content {
		position: relative;
		z-index: 1;
		padding-bottom:75px;
		span.case_amount {
			font-size:120px;
			color:$red;
			font-family: $trirongregular;
			letter-spacing: 1px;
			display: block;
			margin-bottom:37px;
		}
		span.case_title {
			display: block;
			font-family: $trirongsemibold;
			font-size:35px;
			text-transform: uppercase;
			letter-spacing: 2.3px;
			margin-bottom:37px;
			
		}
		span.case_results_content {
			font-size:20px;
			line-height: 28px;
			font-family: $akagilight;
			max-width:500px;
			display: block;
			margin:0 auto;
		}
	}
}


.buttons {
	text-align: center;
	position: relative;
	bottom:-40px;
	z-index: 20;
	.single_button {
		background:$greybrown;
		width:100%;
		max-width:120px;
		padding:16px 30px;
		display: inline-block;
		margin-right: -3px;
		transition: all .2s ease-in-out;
		cursor: pointer;
		&:hover {
			background: #1b1e23;
		}
		img {
			width:15px;
		}
	}
	.back {
		
		
	}
	.next {
		
	}
}



@media screen and (max-width: 1740px) {
	
	.intro_form {
		span.intro_request {
			max-width:400px;
			margin-left:auto;
			margin-right:auto;
		}
	}
	
	.intro_form {
		margin-top:-25px;
	}
	
	.form_container {

	}
	
	
	
	
	.single_case {
		.single_case_content {
			span.case_amount {
				font-size:98px;
			}
		}
	}  
	
	
	.buttons {
		bottom:-60px;
	}
	
	
	
	
	
	
} /* Media Query */




@media screen and (max-width: 1365px) {
	
	.section_two {
		display: block;
	}
	
	.intro_form_wrapper {
		display: none;
	}
	
	.case_results_wrapper {
		width:100%;
	}
	
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1165px) {
	
	.section_two.open {
		z-index:100;
	}
	
	.section_two.open .intro_form_wrapper {
		display: block;
		position: fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
		margin-top:0px;
		padding:0 30px 50px;
		overflow-y:scroll;
		
	}
	
	
	.section_two.open .case_results_wrapper {
		display: none;
	}
	
	
	.first_step_wrapper {
		padding-top: 35%;
	}
	
	.intro_form {
		padding-top:30%;
	}
	
	
	
	.form_container {
		max-width: 585px;
		margin-left:auto;
		margin-right:auto;
	}
	
	

	
	
.intro_form {
	span.intro_request {
			font-size:55px;
			max-width: 459px;
			line-height: 59px;
			margin-bottom:23px;
		}
		span.required_intro {
			margin: 30px 0 68px;
		}
	
	span.step_one_back {
		
	}
	ul {
		
		
		li#field_2_1, li#field_2_3, li#field_2_4 {
			
		}
		li#field_2_5 {
			float:none;
			margin-top:0;
			.gfield_description, .validation_message {
			
			}
		}
		li.my_gf_step_two {
			width:100%;
			
			&:after {
				
			}
		}
		li ::-webkit-input-placeholder {
     
     }
     li ::-moz-placeholder {
      
      }
     li :-moz-placeholder {
       
     }
     li :-ms-input-placeholder {
       
     }
     li ::-moz-placeholder {
      
     }
		li {
			margin-bottom: 16px;
			
			label {
				
			}
			input {
				
			}
			textarea {
				
			}
			select, input, textarea {
			
			}
			input, textarea {
				
			}
		}
		li#field_2_8, li#field_2_9 {
			
		}
	}
	.gform_footer {
		float:none;
		margin-top:0;
		width:100%;
		margin-bottom: 6px;
		input[type="submit"] {
			
			&:hover {
				
			}
		}
	}
	.gfield_description {
		
	}
	.instruction  {
		
	}
}

	
	
	
	
	
	
	
	
	
	
	
	
	
} /* Media Query */


