.section_five {
	width:100%;
	position: relative;
	z-index:10;
	&:after {
		content:"";
		clear:both;
		display: block;
	}
}


.section_five_inner_wrapper {
	background: $greylight;
	width:100%;
	float:left;
	margin-top: 485px;
	position:relative;
	padding-bottom:279px;
}


.featured_attorney {
	max-width:1170px;
	width:100%;
	margin:-585px auto 0;
	overflow: hidden;
	padding:0 30px;
	.featured_att_image {
		float:left;
		position: relative;
		z-index: 1;
		img {
			
		}
	}
	.featured_attorney_content {
		max-width: 667px;
		width:100%;
		height:300px;
		border:1px solid $greybrown;
		float:right;
		margin-top:-507px;
		min-height: 737px;
		padding:0 35px 0 172px;
		margin-right:16px;
		.founding_wrapper {
			text-align: right;
			margin:28px -55px 0 0;
			span.founding_attorney {
				text-transform: uppercase;
				font-family: $akagilblack;
				font-size:14px;
				letter-spacing: 5px;
				display: inline-block;
				margin-right:10px;
			}
			svg#founding_red_line {
				width:50px;
				height:17px;
				display: inline-block;
				position: relative;
				top:4px;
				polyline {
					fill:none;
					stroke:$red;
					stroke-width:2px;
				}
			}
		}
		span.name {
			font-family: $trirongregular;
			font-size: 70px;
			color:$red;
			line-height: 65px;
			margin-top:75px;
			display: block;
			letter-spacing: 2px;
		}
		span.att_content {
			font-size: 18px;
			text-transform: uppercase;
			font-family: $akagilblack;
			line-height: 36px;
			display: block;
			margin-top:30px;
			padding-left:45px;
			letter-spacing: 2px;
		}
	}
}



a.view_button {
	text-decoration: none;
	margin-top:51px;
	display: block;
	position: relative;
	right:-122px;
	overflow: hidden;
	&:hover {
		span.view_text {
			background: $lightblack;
			color:#fff;
		}
	}
	span.view_text {
		background: $greybrown;
		color:$lightblack;
		text-transform: uppercase;
		text-decoration: none;
		font-family: $akagilbold;
		letter-spacing: 5px;
		padding:25px 41px 0px;
		float:left;
		height:63px;
		font-size:14px;
		transition: all .2s ease-in-out;
		
	}
	span.view_arrow {
		background: $lightblack;
		float:left;
		height:63px;
		padding:22px 25px 0;
		img {
			width:13px;
			
		}
	}
	
}




.our_attorneys_wrapper {
	position: absolute;
	bottom: 840px;
	left: -460px;
	width:1115px;
	transform: rotate(-90deg);
	span.our_att_title {
		color:$red;
		font-size:35px;
		text-transform: uppercase;
		font-family: $trironbold;
		text-align: right;
		display: block;
		letter-spacing: 6.6px;
	}
	span.our_att_line {
		display: block;
		width:96%;
		height:1px;
		background: $lightblack;
		margin-top:45px;
		&:after {
			content:"";
			width:10px;
			height:10px;
			background:$lightblack;
			float:right;
			margin-top:-4px;
		}
	}
}


.att_slideshow_wrapper {
	overflow: hidden;
	padding-left:175px;
	width:100%;
	margin-top:106px;
	
}



.att_slideshow {
	float:left;
	width:119.5%;
	
}

a.att_single_slide_link {
	text-decoration: none;
	// 	margin-right:7px;
	padding-right:7px;
	position: relative;
	z-index:5;
	&:hover {
		.att_single_slide {
			.att_overlay {
				opacity: 1;
			}
		}
	}
	
}

.att_single_slide {
	
	.att_image_wrapper {
		position: relative;
		img {
			max-width: 100%;
			display: block;
		}
		.att_overlay {
			position: absolute;
			z-index:0;
			top:0;
			left:0;
			width:100%;
			height:100%;
			background-color: rgba(27, 30, 35, 0.9);
			opacity: 0;
			transition: all .4s ease-in-out;
			.view_att_wrapper {
				position: absolute;
				bottom:35px;
				right:0;
				padding-right:45px;
				span.view_att_link {
					color:#fff;
					max-width:102px;
					font-family: $akagilbold;
					font-size:13px;
					text-transform: uppercase;
					line-height: 18px;
					letter-spacing: 3.5px;
					display: inline-block;
				}
				svg {
					width:8px;
					display: inline-block;
					transform:rotate(-90deg);
					position: relative;
					top:15px;
					line.arrow_line {
						fill:none;
						stroke:#fff;
						stroke-miterlimit:10;
					}
					polygon.arrow_tri {
						fill:#fff;
					}
				}
			}
		}
	}
	.att_title_wrapper {
		padding-top:20px;
		span {
			display: inline-block;
			font-size:27px;
			color:$lightblack;
			font-family: $trirongregular;
			letter-spacing: 1px;
		}
		svg {
			width:53px;
			display: inline-block;
			position: relative;
			top:-5px;
			margin-right:8px;
			polyline {
				fill:none;
				stroke:$red;
				stroke-miterlimit:10;
				stroke-width:1.5px;
			}
		}
	}
}


.att_buttons {
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	div {
		width:20%;
		float:left;
		height:10px;
		padding-right:7px;
		&:last-of-type {
			padding-right:0;
		}
	}
	.att_single_button {
		cursor: pointer;
	}
	.att_next {
		background:$greybrown;
		height:calc(100% - 47px);
		position: relative;
		top:0;
		left:0;
		z-index: 5;
		transition: all .3s ease-in-out;
		&:hover {
			background: $lightblack;
			
		}
		img {
			width:17px;
			display: block;
			margin:0 0 0 8%;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			
		}
	}
	.att_back {
		img {
			display: none;
		}
		
	}
}


.mobile_header_wrapper {
	display: none;
}

.att_buttons_mobile_wrapper {
	display: none;
}







@media screen and (max-width: 1670px) {
	
	
	.featured_attorney {
		position: relative;
		right:-5%;
		padding-right:2px;
	}
	
	
} /* Media Query */





@media screen and (max-width: 1525px) {
	
	
	.att_buttons {
		div {
			width:25%;
			&:nth-of-type(2n + 2) {
				display: none;
			}
		}
		.att_next {
			margin-left:25%;
			img {
				margin: 0 0 0 17%;
			}
		}
	}
	
	
} /* Media Query */





@media screen and (max-width: 1455px) {
	
	
	.featured_attorney {
		width:100%;
		margin-left:90px;
		margin-right:0;
		max-width: 1120px;
	}
	
	
} /* Media Query */



@media screen and (max-width: 1370px) {
	
	
	.featured_attorney {
		max-width: 1040px;
		.featured_attorney_content {
			margin-top: -377px;
		}
	}
	
	
	.featured_att_image {
		width:440px;
		img {
			max-width: 100%;
			height: auto;
		}
	}	
	
} /* Media Query */



@media screen and (max-width: 1345px) {
	




.our_attorneys_wrapper {
	display: none;
}

	
.featured_attorney {
	display: none;
}


.att_slideshow_wrapper {
	


}


.att_buttons {
	display: none;
}


.att_buttons_mobile_wrapper {
	display:block;
	width:100%;
	max-width:500px;
	margin:0 auto;
	clear:both;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	bottom:-85px;
	.att_mobile_back {
		border-right:2px $greybrown solid;
		text-align: left;
		img {
			margin-right:28px;
		}
	}
	.att_mobile_next {
		border-left:2px $greybrown solid;
		text-align: right;
		img {
			margin-left:28px;
		}
	}
	.att_mobile_buttons {
		background: $lightblack;
		width:50%; 
		float:left;
		color:#fff;
		padding:26px 31px;
		transition: all .2s ease-in-out;
		
		&:hover {
			background: $greybrown;
		}
		img {
			width:15px;
		}
		span {
			font-family: $akagilbold;
			text-transform: uppercase;
			font-size: 13px;
			letter-spacing: 4px;
			position: relative;
			top:-5px;
		}
	} 
}


	
	
	.mobile_header_wrapper {
		display: block;
		margin:105px 0;
		width:100%;
		span.mobile_header {
			color: #ff3600;
			display: block;
			font-family: $trironbold;
			font-size: 35px;
			letter-spacing: 7px;
			text-transform: uppercase;
			margin-bottom: 53px;
			margin-left:55px;
		}
		.mobile_line_wrapper {
			width:35%;
			span.mobile_line {
			width:calc(100% - 20px);
			height:1px;
			background:$lightblack;
			float:left;
		}
		span.mobile_square {
			width:10px;
			height:10px;
			background: $lightblack;
			float:left;
			margin-top:-5px;
		}
	}
}
	

	
	.featured_attorney {
		max-width: 970px;
		.featured_attorney_content {
			margin-top: -315px;
		}
	}
	
	
	
	.featured_att_image {
		
		img {
			
		}
	}	
	
	
	.att_slideshow_wrapper {
		float:right;
		overflow: visible;
		margin-top: -188px;
		max-width: 970px;
		padding-left:0;
		overflow: hidden;
		.att_slideshow {
			width:100%;
			right: -200px;
		}
	}
	
	
	
	
	
	.section_five_inner_wrapper {
		margin-top: 202px;
		padding-bottom: 49px;
	}
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1165px) {
	
	a.att_single_slide_link {
		padding-right: 10px;
	}
	
	.att_slideshow_wrapper {
		.att_slideshow {
			right:-66px;
			width: 105%;
		}
	} 
	

	
	
	
} /* Media Query */



@media screen and (max-width: 760px) {
	
	
	.section_four_lower {
		padding: 83px 0 0;
		span.large_header {
			font-size:60px;
			line-height: 60px;
		}
		span.sub_header {
			padding: 5px;
			margin-left: 18px;
			margin-right: 18px;
			font-size: 22px;
			line-height: 25px;
			letter-spacing: 3px;
			letter-spacing: 6px;
			br {
				display: none;
			}
		}
	} 
	
	
	
	svg#section_four_gold_threelines {
    margin: 50px auto 0;
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 760px) {
	
	.mobile_header_wrapper {
		margin: 54px 0 0;
		span.mobile_header {
			font-size:30px;
			
			margin-bottom: 27px;
			line-height: 30px;
		}
	}
	
	
	.mobile_header_wrapper {
		.mobile_line_wrapper	 {
// 			width:81%
		}
	}
	
	
	.section_five_inner_wrapper {
		 margin-top: 223px;
		 
	}
	
	
	
	.att_slideshow_wrapper {
		float:none;
		padding-left: 15px;
		padding-right:15px;
		max-width:549px;
		margin-left:auto;
		margin-right:auto;
		.att_slideshow {
			right:0;
			width:100%;
		}
	}
	
	a.att_single_slide_link {
		padding-right:0;
	}
	
	
	
	.att_single_slide {
		.att_title_wrapper {
			span {
				font-size:22px;
			}
			svg {
				top: -3px;
			}
		}
	} 
	
	
	.att_buttons_mobile_wrapper {
		bottom: -82px;
	}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 450px) {
	
	
	.mobile_header_wrapper {
		margin: 57px 0 0;
		span.mobile_header {
			font-size:30px;
			text-align: right;
			max-width: 280px;
			float:right;
			padding-right:25px;
			line-height: 30px;
		}
	}
	
	
	.mobile_header_wrapper {
		.mobile_line_wrapper	 {
			width:81%
		}
	}
	
	
} /* Media Query */




@media screen and (max-width: 450px) {


.att_buttons_mobile_wrapper {
	.att_mobile_back {
		padding-left: 19px;
		padding-right:5px;
		img {
			margin-right:5px;
		}
	}
	.att_mobile_next {
		padding-right: 19px;
		padding-left:5px;
		img {
			margin-left:5px;
		}
	}
}  
	
	
	
	
} /* Media Query */






