.intro_banner {
	width:100%;
	position: relative;
	height:1185px;
	overflow: hidden;
	z-index:0;
	&:after {
		content:"";
		background:rgba(0, 0, 0, 0.2);
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		z-index:5;
	}
}

.intro_banner_content {
	position: relative;
	z-index:10;
	text-align: center;
	padding-top: 121px;
	.intro_header {
		color:#fff;
		font-family: $akagilbold;
		text-transform: uppercase;
		font-size:135px;
		display: block;
		max-width: 1550px;
		margin:0 auto;
		line-height: 130px;
		letter-spacing: 5px;
		strong {
			color:$lightbrown;
		}
	}
}



span.top_line, span.middle_line, span.bottom_line {
// 	opacity: 0;
	animation-name: text_line_fade, text_line_move;
	animation-duration: 700ms, 1300ms;
  animation-fill-mode: both;
  animation-timing-function: ease, cubic-bezier(.17,.66,.34,.98);;
	position: relative;
// 	top:-55px;

}


span.top_line {
	animation-delay:700ms;
 }

span.middle_line {
	animation-delay:1050ms;
}


span.bottom_line {
	animation-delay:1400ms;
}



@keyframes text_line_fade {
  from {
    opacity: 0;
 	}

  to {
    opacity: 1;
  }
}


@keyframes text_line_move {
  from {
    top:-55px
 	}

  to {
   top:0;
  }
}




.my_wistia_container {
	position: absolute;
	top:0;
	left:0;
	z-index: 500;
	height: 210px;
	width: 210px;
	a {
		display: block;
		
		width:218px;
		height:218px;
	}
}




.play_wrapper {
	display: inline-block;
	position: relative;
	top: 28px;
	margin-left:-377px;
	right:-135px;
	width:325px;
	position: relative;
	span.learn {
		font-size:16px;
		text-transform: none;
		font-family: $trirongmediumitalic;
		letter-spacing: 0;
		float:right;
		line-height: 20px;
		margin-left:-35px;
		text-align: left;
	}
	.play_button {
		float:left;
	}
}



.play_wrapper {
	.play_button {
/*
		opacity: 0;
		transform: translateX(-86px) translateY(-62px);
*/
		animation-name: play_button_fade, play_button_move;
		animation-duration: 900ms, 1500ms;
		animation-fill-mode: both;
		animation-timing-function: ease, cubic-bezier(.17,.66,.34,.98);;
		animation-delay: 1570ms;
	}
}


@keyframes play_button_fade {
  from {
    opacity: 0;
 		
  }

  to {
      opacity: 1; 
  }
}


@keyframes play_button_move {
  from {
   transform: translateX(-29px) translateY(-29px);
 		
  }

  to {
     transform: translateX(0px) translateY(0px);
  }
}



.play_wrapper {
	span.learn {
/*
		opacity: 0;
		transform: translateX(86px);
*/
		animation-name: learn_fade, learn_move;
		animation-duration: 900ms, 1500ms;
		animation-fill-mode: both;
		animation-timing-function: ease, cubic-bezier(.17,.66,.34,.98);;
		animation-delay: 1570ms;

	}
}


@keyframes learn_fade {
  from {
    opacity: 0;
 		
  }

  to {
      opacity: 1; 
  }
}


@keyframes learn_move {
  from {
    transform: translateX(86px);
 		
  }

  to {
     transform: translateX(0px);
  }
}



svg#red_line_intro {
	fill:none;
	stroke:$redsvg;
	stroke-miterlimit:10;
	stroke-width:2px;
	width:99px;
	position: absolute;
	top:50px;
	right:-5px;
	height: 20px;
	
	
	stroke-dasharray: 256;
    stroke-dashoffset: 256;
  
	animation-name: red_line_intro;
	animation-duration:2700ms;
	animation-fill-mode: both;
	animation-timing-function: linear;
	animation-delay: 2000ms;
	.red_line_intro_path {
		
	}
}







@keyframes red_line_intro {
  
  from {
       stroke-dashoffset: 256;
  }
  to {
    stroke-dashoffset: 0;
  }
}







	.play_button.hover {
		svg#play_button_svg {
			rect.black_bg {
				fill:$lightbrown;
				opacity:1;
			}
		}
	}



svg#play_button_svg {
	width:205px;
	height:205px;
	rect.gold_stroke {
		stroke:$lightbrown;
		stroke-width:6px;
		fill:none;
		stroke-miterlimit:10;
		
	}
	rect.black_bg {
		fill:#101215;
		opacity:0.6;
		transition: all .2s ease-in-out;
		&:hover {
			fill:$lightbrown;
			opacity:1;
		}


	}
	polygon.play_svg {
		fill:#fff;
	}
}


.intro_banner {

	video {
		min-width: 100%;
		min-height: 100%;
		position: absolute;
		top:0;
		left:0;
		z-index:0;
	}
}


.lower_intro_wrapper {
	width:100%;
	// overflow: hidden;
	max-width: 1550px;
	margin:0px;
	margin:16px auto 0;
}







.lower_intro_left {
	width: 39.5%;
	float:left;
	
	padding-top:18px;
	position: relative;
	z-index:20;
}


.intro_button {
	background:$red;
	color:#fff;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 1;
	font-size:26px;
	font-family: $oswald;
	font-family: $oswaldmedium;
	letter-spacing: 6px;
	border:6px solid #fff;
	padding: 12px 30px 30px; 
	display: inline-block;
	transition: all .2s ease-in-out;
	position: relative;
	float:right;
	text-align: center;
	width:330px;
	height:100px;
	overflow: hidden;
	
	
/*
	transform: translateX(-50px) translateY(0px);
	opacity: 0;
*/
	animation-name: intro_button_fade, intro_button_move;
  animation-duration: 800ms, 1500ms;
  animation-fill-mode: both;
  animation-timing-function: ease, cubic-bezier(.17,.66,.34,.98);
  animation-delay: 2200ms;
	
	span {
		float:left;
		margin-left: 29px;
    margin-top: 15px;
		
	}
	&:hover {
		background:$greybrown;
	}
}



@keyframes intro_button_fade {
  from {
    opacity: 0;
 		
 		
  }

  to {
    opacity: 1;
    
    
  }
}

@keyframes intro_button_move {
  from {
    transform: translateX(-70px) translateY(0px);
 		
 		
  }

  to {
   transform: translateX(0px) translateY(0px);
    
    
  }
}






	
	svg#start_arrow {
		width:8px;
		float:left;
		position: relative;
		top:8px;
		margin-left:15px;
		
		line.arrow_line {
			fill:none;
			stroke:#fff;
			stroke-miterlimit:10;
		}
		polygon.arrow_tri {
			fill:#fff;
		}
	}



svg#intro_red_twolines {
	width:117px;
	height:200px;
	transform: rotate(90deg);
	float:left;
	left: 9px;
	top: -37px;
	position: relative;
	polyline {
		fill:none;
		stroke:$red;
		stroke-miterlimit:10;
		stroke-width:2px;
		
		
		animation-duration: 600ms, 1500ms;
		animation-fill-mode: both;
		animation-timing-function: ease, cubic-bezier(.17,.66,.34,.98);
		animation-delay: 2200ms;
		
	}
	polyline.red_line_one {
		animation-name: intro_red_twoline_fade, intro_red_twoline_move;
		
	}
	polyline.red_line_two {
		animation-name: intro_red_twoline_fade, intro_red_twoline_movetwo;
	}
}





@keyframes intro_red_twoline_fade {
  from {
    opacity: 0;
 		
 		
  }

  to {
    opacity: 1;
    
    
  }
}


@keyframes intro_red_twoline_move {
  from {
  	transform: translateX(-60px) translateY(10px);
 		
 		
  }

  to {
   transform: translateX(0px);
    
    
  }
}


@keyframes intro_red_twoline_movetwo {
  from {
  	transform: translateX(60px) translateY(-10px);
 		
 		
  }

  to {
   transform: translateX(0px);
    
    
  }
}











.lower_intro_right {
	width:60.5%;
	float:left;
	padding-top:5px;
	span {
		color:#fff;
		font-size:30px;
		text-align: left;
		display: block;
		font-family: $trirongmedium;
		line-height: 40px;
		
		
		
		
// 		transform: translateX(50px) translateY(0px);
		animation-name: intro_content_fade, intro_content_move;
		animation-duration: 800ms, 1500ms;
		animation-fill-mode: both;
		animation-timing-function: ease, cubic-bezier(.17,.66,.34,.98);
		animation-delay: 2200ms;

		
	}
}






@keyframes intro_content_fade {
  from {
    opacity: 0;
 		
 		
  }

  to {
    opacity: 1;
   
    
  }
}



@keyframes intro_content_move {
  from {
    transform: translateX(70px) translateY(0px);
 		
 		
  }

  to {
    transform: translateX(0px) translateY(0px);
   
    
  }
}





@media screen and (max-width: 1635px) {
	
	
	
	.play_wrapper {
		display: block;
		margin: 0 auto;
		top:0;
		right:-45px;
		overflow: hidden;
		width: 349px;
		span.learn {
			margin-top:30px
		}
	}
	
	
	svg#red_line_intro {
		top:79px;
	}
	
	
	svg#play_button_svg {
		height: 195px;
	}
	
	
	
	.intro_banner_content {
		max-width: 1205px;
		padding:134px 35px;
		margin-left:auto;
		margin-right:auto;
	.intro_header {
		font-size:98px;
		letter-spacing: 4.2px;
		span.intro_title {
			display: block;
			clear:both;
			line-height: 89px;
			margin-top: -5px;
		}
	}
}


.lower_intro_wrapper {
		margin-top:55px;
	 max-width: 870px;
	
}

.lower_intro_left {
	padding-top:48px;
}


.lower_intro_right {
	span {
		font-size:25px;
		line-height: 35px;
	}
}



svg#intro_red_twolines {
	top:-8px;
}


	 
	
	
	
} /* Media Query */


@media screen and (max-width: 1565px) {
	
	
	
	.intro_banner {
		margin-top:69px;
		height: 1116px;
	}
	
	
	.intro_banner_content {
		padding: 69px 35px;
	}
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1165px) {
	
	
	
.my_wistia_container {
	 left: 184px;
	 height: 199px;
	 width: 180px;
	a {
		
	}
}
	
	
	
	
	.intro_banner {
		background: url(#{$themepath}images/hero-image-tablet.jpg) top center no-repeat;
		background-size: cover;
		height: auto;
		margin-top:0;
		video {
			display: none;
		}
	}



.intro_banner_content {
		
	.intro_header {
		
		span.intro_title {
			
			margin-top: -10px;
		}
	}
}



	
	
	.play_wrapper {
		right: 84px;
		width: 365px;
		span.learn {
			float:left;
			position: relative;
			right:0px;
			margin-left:12px;
			margin-top: 57px;
		}
		.play_button {
			float: right;
			
		}
	}
	
	
	svg#play_button_svg {
    height: 180px;
    width: 180px;
	}
	
	
	svg#red_line_intro {
		left:58px;
		top:104px;
		
	}
	
	
	
	
.intro_banner_content {
	padding: 166px 30px 126px;
	line-height: 90;
	
	.intro_header {
		font-size: 90px;
		strong {
			
		}
	}
	span.intro_title {
		
	}
}


.lower_intro_wrapper {
	margin-top:31px;
}




.lower_intro_left {
	float:none;
	width:100%;
	max-width:100%;
	margin-left:auto;
	margin-right:auto;
	padding-top:0;
	.intro_button {
		float:none;
		display: block;
		margin-left:auto;
		margin-right:auto;
// 		padding: 29px 30px;
	}
}



.lower_intro_right {
	display: none;
}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 760px) {
	
.my_wistia_container {
	 left: 3px;
	a {
		
	}
}
	
	
	
	.play_wrapper {
		width: 183px;
		right:0;
		top: 7px;
		span.learn {
			display: none;
		}
	}
	
	svg#red_line_intro {
		display: none;
	}
	
	.intro_banner_content {
		padding:176px 10px 126px;
	}
	
	
	.intro_banner {
		background-position: -190px 63px;
	}
	
	.intro_banner_content {
		padding-left: 0px;
		padding-right: 0px;
		.intro_header {
			font-size: 43px;
			span.intro_title {
				margin-top: 0px;
				line-height: 48px;
				letter-spacing: 1px;
			}
    }
	} 
	
	.lower_intro_wrapper {
    margin-top: 62px;
    padding-left:10px;
    padding-right:10px;
	}
	
	.lower_intro_left {
	
		.intro_button {
			width:290px;
		}
	}
	
	.intro_button span {
		margin-left:8px;
	}
	
	
	
	
} /* Media Query */



