

.section_two {
	position: relative;
	z-index:30;
	padding-left:45px;
	display: flex;
}

.intro_form_wrapper {
	width:51%;
	background:$lightblack;
	height:515px;
	margin-top:-100px;
	padding:83px;
	text-align: center;
	span.form_parts {
		color:#fff;
		font-family: $oswald;
		 font-family: $oswaldmedium;
		font-size:17px;
		letter-spacing: 1px;
		display: block;
	}
	span.intro_request {
		display: block;
		color:$greybrown;
		font-family: $trironglight;
		font-size:45px;
		letter-spacing: 1.2px;
	}
	span.required_intro {
		display: block;
		color:$red;
		text-transform: uppercase;
		font-family: $akagilbold;
		font-size:17px;
		letter-spacing: 5px;
		margin-top:15px;
	}
	span.step_one_back {
		color:$greybrown;
	}
	
}




.my_gf_step_one, .my_gf_step_two {
	opacity: 1;
}

.my_gf_hide {
	opacity: 0;
}


svg#red_line_form {
	width:53px;
	margin-top:12px;
	polyline {
		fill:none;
		stroke:$red;
		stroke-miterlimit:10;
		stroke-width:1.5px;
	}
}


.form_container {
	color:#fff;
	
	span.injury_title {
		font-family: $trironglight;
		font-size:55px;
		line-height: 59px;
		margin-top:25px;
		display: block;
		max-width:575px;
		margin-left:auto;
		margin-right:auto;
		line-height: 59px;
	}
}



.intro_form_wrapper {
	ul {
		list-style: none;
		li.my_injury_intro {
			margin:50px auto;
			cursor: pointer;
			max-width: 512px;
		
			.ginput_container_select {
				position: relative;
				border:$greybrown 1px solid;
				border-radius: 8px;
				
				&:after {
						content:"";
						width:70px;
						height:100%;
						background: url(#{$themepath}images/form-arrow.png) $greybrown center center no-repeat;
						background-size: 20px 14px;
						position: absolute;
						top:0;
						right:0;
						border-top-right-radius: 5px;
						border-bottom-right-radius: 5px;
						pointer-events: none;
					}
					select:-moz-focusring {
						color: transparent;
						text-shadow: 0 0 0 #fff;
					}
				select {
					-webkit-appearance: none;
					appearance: none;
					-moz-appearance: none;
					border:none;
					background: transparent;
					font-family: $akagilight;
					color:#fff;
					font-size: 28px;
					padding:16px 130px 16px 20px;
					width:100%;
					letter-spacing: 1px;
					box-shadow: none;
					background-image: none;
					&:focus {
						outline: none;
					}
					option {
						
					}
				}
			}
		}
		li {
			width: 100%;
			label {
				display: none;
			}
			
			input {
				
			}
			textarea {
				
			}
			select, input, textarea {
				width: 100%;
			}
		}
		li#field_2_8 {
			display: none;
		}
	}
}










.case_results_wrapper {
	width:49%;
	height:695px;
	margin-top:-195px;
	background:#fff;
}


.case_results {
	text-align: center;
	padding:130px 0 0 0;
	overflow: hidden;
	span.current_cases {
		font-size:16px;
		letter-spacing: 3.5px;
		font-family: $akagilblack;
		text-transform: uppercase;
		border-left:1px solid #000;
		border-right:1px solid #000;
		padding:5px 49px;
		display: inline-block;
		margin-bottom:27px;
		position: relative;
		z-index:1;
	}
}


.single_case {
	position: relative;
	.case_icon {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		svg {
			display:block;
			width:105px;
			margin:-120px auto 0;
			path {
				fill:#f2f2f2;
			}
			
		}
		svg#svg_cr1 {
			width:105px;
			margin:-120px auto 0;
		}
		svg#svg_cr2 {
			width:343px;
			margin:-25px auto 0;
		}
		svg#svg_cr3 {
			width:418px;
			margin:-50px auto 0;
		}
		svg#svg_cr4 {
			width:435px;
			margin:-70px auto 0;
		}
	}
	.single_case_content {
		position: relative;
		z-index: 1;
		padding-bottom:75px;
		span.case_amount {
			font-size:120px;
			color:$red;
			font-family: $trirongregular;
			letter-spacing: 1px;
			display: block;
			margin-bottom:37px;
		}
		span.case_title {
			display: block;
			font-family: $trirongsemibold;
			font-size:35px;
			text-transform: uppercase;
			letter-spacing: 2.3px;
			margin-bottom:37px;
			
		}
		span.case_results_content {
			font-size:20px;
			line-height: 28px;
			font-family: $akagilight;
			max-width:500px;
			display: block;
			margin:0 auto;
		}
	}
}


.buttons {
	text-align: center;
	position: relative;
	bottom:-40px;
	z-index: 20;
	.single_button {
		background:$greybrown;
		width:100%;
		max-width:120px;
		padding:16px 30px;
		display: inline-block;
		margin-right: -3px;
		transition: all .2s ease-in-out;
		cursor: pointer;
		&:hover {
			background: #1b1e23;
		}
		img {
			width:15px;
		}
	}
	.back {
		
		
	}
	.next {
		
	}
}


