.section_seven {
	width:100%;
	padding-bottom:175px;
	background: $greylight;
	position: relative;
	z-index:20;
}


.news_header_wrapper {
	float:right;
	margin-right:110px;
	margin-top:-99px;
	svg {
		margin-right:15px;
	}
	span.large_header {
		float:left;
		text-transform: uppercase;
		font-family: $akagilblack;
		font-size:20px;
		color:$greybrown;
		letter-spacing: 6.5px;
		margin-top:8px;
		
		span.lower_header {
			display: block;
			font-family: $trirongregular;
			font-size:115px;
			text-transform: lowercase;
			color:$lightblack;
			letter-spacing: 0;
			margin-left:55px;
			margin-top:-5px;
		}
	}
}


.news_slidehow_wrapper {
	padding-left:6%;
	padding-top:110px;
	overflow: hidden;
	width:100%;
}

.news_slidehow {

width:128%;
}

a.news_single_link {
	color:$lightblack;
	text-decoration: none;
	margin-right:0.7%;
}

.single_slide_wrapper {
// 	width:490px;
	position: relative;
	
	&:hover {
		.inner_slide_content {
			background: #fff;
			border-top:1px solid #fff;
			border-left:1px solid #fff;
			border-right:1px solid #fff;
			border-bottom: 1px solid #f5f5f5;
		}
		.read_more_wrapper {
			opacity: 1;
		}
	}
	.inner_slide_content {
		padding:123px 7% 40px;
		height:632px;
		border:1px solid $greybrown;
		transition: all .3s linear;
		svg {
			width:50px;
			height: 25px;
			float:left;
			polyline {
			fill:none;
			stroke:$red;
			stroke-width:1.75px;
		}
		}
		span.news_date {
			float:left;
			font-family: $akagilblack;
			text-transform: uppercase;
			margin-left:12px;
			letter-spacing: 5px;
			margin-top:7px;
		}
		span.post_title {
			clear:both;
			display: block;
			font-size:30px;
			text-decoration: none;
			color:$brown;
			font-family: $trirongmedium;
			line-height: 30px;
			margin-top:55px;
			letter-spacing: 0.5px;
			padding-left:5%;
		}
		span.excerpt {
			display: block;
			margin-top:32px;
			font-size:16px;
			line-height: 30px;
			font-family: $trirongregular;
			padding-left:5%;
		}
	}
	
	.read_more_wrapper {
		display: block;
		background:$lightblack;
		position: absolute;
		bottom:0;
		left:0;
		width:100%;
		text-align: right;
		padding:16px 28px 14px;
 		opacity: 0;
 		transition: all .3s linear;
 		
		span.read_more {
			color:#fff;
			font-size:13px;
			text-transform: uppercase;
			font-family: $akagilbold;
			display: inline-block;
			position: relative;
			top:-1px;
			letter-spacing: 5px;
			margin-right: 30px;
		}
		img {
			display: inline-block;
			width:11px;
			position: relative;
			top:2px;
		}
	}
}




svg#news_white_twolines {
	width:75px;
	height:50px;
	float:left;
	margin-top:-10px;
	polyline {
		fill:none;
		stroke:$red;
		stroke-width:2px;
	}
}


svg#news_post_twolines {
	width:50px;
	height: 25px;
	float:left;
	polyline {
		fill:none;
		stroke:$red;
		stroke-width:1.75px;
	}
}




.news_buttons {
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	div {
		width:25%;
		float:left;
		height:10px;
		padding-right:7px;
		&:last-of-type {
			padding-right:0;
		}
	}
	.news_single_button {
		cursor: pointer;
	}
	.news_next {
		background:$greybrown;
		height:100%;
		position: relative;
		top:0;
		left:0;
		z-index: 5;
		transition: all .3s ease-in-out;
		&:hover {
			background: $lightblack;
			
		}
		img {
			width:17px;
			display: block;
			margin:0 0 0 5.5%;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			
		}
	}
	.news_back {
		img {
			display: none;
		}
	}
}
	
	
	
	@media screen and (max-width: 1345px) {
		
		.news_slidehow {
    	float: right;
			max-width: 1110px;
			right:-200px;
		}
		
		
		.news_buttons {
			display: none;
		}
		
		
		
	} /* Media Query */
	
	
	@media screen and (max-width: 1165px) {
		
		
		.section_seven {
			padding-bottom: 102px;
			padding-left:20px;
		}
		
		
		.news_header_wrapper {
			margin-left:auto;
			margin-right:auto;
			float:left;
			margin-top: -83px;
			width:100%;
			.inner_news {
				max-width: 707px;
				margin-left:auto;
				margin-right:auto;
				overflow: hidden;
			}
			span.large_header {
				span.lower_header {
					font-size:100px;
					padding-bottom: 5px;
				}
			}
		}
		
		
		.news_slidehow_wrapper {
			 padding-top: 41px;
			 padding-left: 5px;
			 width: 100%;
		}
		
		
		.news_slidehow {
			float:left;
			right:0;
		}
		
		
		a.news_single_link {
			margin-right: 0.3%;
			
		}
		
		
		
	
		
		
	} /* Media Query */
	
	
	
	@media screen and (max-width: 760px) {
		
		
		
		.section_seven {
			padding-left: 0;
			padding-bottom: 64px;
		}
		
		.news_header_wrapper {
			span.large_header {
				letter-spacing: 4.5px;
				span.lower_header {
					font-size: 65px;
					 margin-top: 18px;
					 line-height: 55px;
				}
			}
		} 
		
		.news_header_wrapper {
			.inner_news {
				max-width:525px;
			}
		}
		
		
		
		.news_slidehow_wrapper {
			padding: 38px 20px 0;
		}
		
		
		
		.news_slidehow {
			float:none;
			width:100%;
		}
		
		a.news_single_link {
			margin-right:0;
		}
		
		.single_slide_wrapper {
			&:hover {
				.inner_slide_content {
					border: none;
				}
				
			}
			.inner_slide_content {
				padding: 30px 20px 40px;
				background: #fff;
				border: none;
				text-align: center;
				span.news_date {
					float:none;
					display: inline-block;
				}
				span.post_title {
					margin-top: 46px;
					line-height: 35px;
					padding-left:0;
				}
				span.excerpt {
					padding-left:0;
					line-height: 28px;
				}
				
			}
			.read_more_wrapper {
				opacity: 1;
			}
		} 
		
		 svg#news_post_twolines {
			 float:none;
			 display: inline-block;
			 position: relative;
			 top:6px;
		 }
		
		
		
	} /* Media Query */
	
	
	@media screen and (max-width: 630px) {
		
		
		.news_header_wrapper {
			span.large_header {
				span.lower_header {
					margin-left:auto;
					margin-right:auto;
					max-width:215px;
					text-align: center;
					
				}
			}
		} 
		
		.news_header_wrapper {
			 overflow: hidden;
			.inner_news {
				 width: 348px;
				 position: relative;
				 left:-35px;
			}
		}
		
		
		
	} /* Media Query */


