/*
font-family: $akagilblack;


font-family: $opensans;
font-weight: 800;

----------



font-family: $akagilbold;


font-family: $opensans;
font-weight: 700;

----------



font-family: $akagiextralight;


font-family: $opensans;
font-weight: 300;

----------

font-family: $akagilight;


font-family: $opensans;
font-weight: 300;

----------

font-family: $akagilsemibold;


font-family: $opensans;
font-weight: 700;

----------


// oswald conversion


font-family: $oswald;


font-family: $opensans;
font-weight: 700;


---------


// trirong conversion


font-family: $trironbold;


font-family: $trirongtwo;
font-weight: 700;

----------


font-family: $trironglight;


font-family: $trirongtwo;
font-weight: 400;

----------


font-family: $trirongmedium;


font-family: $trirongtwo;
font-weight: 500;

----------


font-family: $trirongmediumitalic;


font-family: $trirongtwo;
font-weight: 400;

----------


font-family: $trirongregular;


font-family: $trirongtwo;
font-weight: 400;

----------


font-family: $trirongsemibold;


font-family: $trirongtwo;
font-weight: 700;

----------
*/