footer {
	width:100%;
	background:$lightblack;
	padding:500px 70px 100px;
	position: relative;
}



svg#footer_gold_twolines {
	width:137px;
	
	
	polyline {
		fill:none;
		stroke:$greybrown;
		stroke-miterlimit:10;
		stroke-width:2px;
	}
}




.inner_footer {
	width:100%;
	margin:170px auto 0;
	max-width:1675px;
	position: relative;

	&:after {
		content:"";
		clear:both;
		display: block;
	}
}

.footer_left {
	position: relative;
	padding-left: 50px;
	width:528px;
	float:left;
	svg {
		transform: rotate(90deg);
		position: absolute;
		top: 57px;
		left:-58px;
	}
	span.firm_title {
		color:#fff;
		font-family: $akagilblack;
		font-size:16px;
		text-transform: uppercase;
		letter-spacing: 5.5px;
		display: block;
		line-height: 30px;
		margin-bottom:57px;
		padding-top: 80px;
		strong {
			color:$greybrown;
			font-weight: 300;
			font-style:normal;
		}
	}
	a.address {
		color:#fff;
		text-decoration: none;
		font-size:28px;
		line-height: 30px;
		letter-spacing: 1.7px;
		display: block;
	}
	a.get_directions {
		color:$red;
		text-decoration: none;
		display: inline-block;
		text-transform: uppercase;
		font-family:$akagilblack;
		letter-spacing: 6.5px;
		margin-top:40px;
		position: relative;
		height:30px;
		&:after {
			content:"";
			width:0;
			height:2px;
			background:$red;
			display: inline-block;
			opacity: 0;
			width:100%;
			transition: all .2s ease-in-out;
		}
		&:hover {
			&:after {
			opacity: 1;
			}
		}
	}
	span.office_hours_title {
		color:$greybrown;
		font-family: $akagilblack;
		font-size:16px;
		text-transform: uppercase;
		letter-spacing: 5.5px;
		display: block;
		line-height: 30px;
		margin-top:50px;
	}
	span.hours {
		color:#fff;
		font-family: $akagilblack;
		font-size:16px;
		text-transform: uppercase;
		letter-spacing: 5.5px;
		display: block;
		line-height: 27px;
	}
	span.dot {
		color:$greybrown;
		font-size:20px;
	}
}


.footer_right {
	width:calc(100% - 528px);
	float:left;
	margin-top:30px;
	padding-left:8%;
}


.footer_phone_wrapper {
	border:1px solid #f0d494;
	padding:65px 0 85px 6.5%;
	width:100%;
	max-width:865px;
	
	a.phone {
		color:$red;
		text-decoration: none;
		font-family: $trirongregular;
		font-size:80px;
		display: block;
	}
	span.small_header {
		display: block;
		margin-top:30px;
		color:#fff;
		font-family: $akagilblack;
		font-size:16px;
		text-transform: uppercase;
		letter-spacing: 6px;
	}
	.white_diamond_wrapper {
		position: relative;
		text-align: center;
		width: 162px;
		float:right;
		margin:-40px -48px 0 0;
		span.available {
			color:$lightblack;
			position: relative;
			z-index:5;
			display: block;
			font-family: $akagilbold;
			text-transform: uppercase;
			font-size: 13px;
			margin-top:51px;
			letter-spacing: 5.7px;
		}
		span.large_header {
			position: relative;
			z-index:5;
			color:$red;
			display: block;
			font-family: $trirongsemibold;
			font-size: 55px;
			margin-top:0px;
		}
		.white_diamond {
			width:159px;
			height:159px;
			background: #fff;
			transform: rotate(-45deg);
			position: absolute;
			top:0;
			left:0;
		}
	}
}


ul.social_media_links {
	display: flex;
	margin-top:123px;
	list-style: none;
	justify-content: space-around;
	padding-left:0%;
	padding-right:12%;
	margin-left:-37px;
	li {
		font-family: $akagilbold;
		letter-spacing: 4px;
		text-align: center;
		width:105px;
		
		a {
			color:#fff;
			text-decoration: none;
			text-transform: uppercase;
			width:105px;
		}
		svg {
			opacity: 0;
			transition: all .2s ease-in-out;
			display: block;
			margin-top:15px;
		}
		&:hover {
			svg {
				opacity: 1;
			}
		}
	}
}


svg#social_media_line {
	fill:none;
	stroke:$greybrown;
	stroke-miterlimit:10;
	stroke-width:2px;
	width:105px;
	.red_line_intro_path {
		
	}
}


.footer_red_line_wrapper {
	position: absolute;
	top: 1097px;
	right:0px;
	width:10.5%;
	height:20px;
	.footer_square {
		width:10px;
		height:10px;
		background: $red;
		float:left;
		position: relative;
		top:5px;
	}
	.footer_line {
		width:100%;
		height:1px;
		background: $red;
		float:left;
		
	}
}

.vertical_selling_points {
	bottom: 610px;
  position: absolute;
  right: -302px;
	transform: rotate(90deg);
	ul {
		list-style: none;
		li {
			color:#fff;
			text-transform: uppercase;
			font-family: $akagilbold;
			font-size:15px;
			letter-spacing: 5.5px;
			display: inline-block;
			&:after {
				content:"|";
				display: inline-block;
				margin:0 30px;
			}
			&:last-of-type {
				&:after {
					content:"";
				}
			}
		}
	}
}


.copyright {
	width:100%;
	background: #fff;
	
	.inner_copyright {
		height:100px;
		position: relative;
		overflow: hidden;
		max-width:1892px;
		width:100%;
		margin:0 auto;
		ul {
			list-style: none;
			padding-top:40px;
			padding-left: 4px;
			float:left;
			li {
				display: inline-block;
				color:$lightblack;
				text-transform: uppercase;
				font-family: $akagilsemibold;
				font-size:13px;
				letter-spacing: 2.5px;
				a {
					color:$lightblack;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
				&:after {
					content:"|";
					display: inline-block;
					margin:0 15px;
				}
				&:last-of-type {
					&:after {
						content:"";
					}
				}
			}
		}
		svg {
			 margin-right: 50px;
			position: absolute;
			top:27px;
			right:0;
		}
	}
}


svg#footer_threelines {
	width:160px;
	display: block;
	height:100px;
	polyline {
		fill:none;
		stroke:$lightblack;
		stroke-width:2px;
	}
}


@media screen and (max-width: 1800px) {
	
	

	
	
	.footer_red_line_wrapper {
		width: 13%;
	}
	
	.footer_right {
		width: calc(100% - 591px);
	}
	

	.vertical_selling_points {
		display: none;
	}
	
	
	
	
	ul.social_media_links {
		
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1630px) {
	
	
	
	.footer_left {
		width:calc(100% - 780px);
	}
	
	.footer_right {
		width:780px;
		padding-left: 4%;
		padding-right: 3%;
	}
	
	
	
} /* Media Query */




@media screen and (max-width: 1406px) {
	
	
	
	.footer_phone_wrapper {
		padding:65px 0 85px 4.5%;
		 a.phone {
			 font-size: 62px;
		 }
	}
	
	.footer_right {
		padding-left: 8%;
		margin-top: 66px;
		
	}
	
	ul.social_media_links {
		margin-left: -7px;
	}
	
	.footer_red_line_wrapper {
		top: 1116px;
	}
	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1305px) {
	
	

	footer {
		padding: 441px 59px 40px;
	}

	
	
	
	.inner_footer {
		margin-top:0px;
		max-width: 705px;
	}
	
	.footer_red_line_wrapper {
		display: none;
	}
	
	.footer_left {
		width:100%;
		float:none;
		text-align: center;
		padding-left:0;
		max-width: 626px;
		margin-left:auto;
		margin-right:auto;
		span.firm_title {
			padding-top: 52px;
		}
	}
	
	
	
	.footer_right {
		width:100%;
		float:none;
		padding-left:0;
		padding-right: 6px;
	}
	
	
	.footer_phone_wrapper {
		padding: 41px 0 79px 45px;
		max-width: 100%;
		a.phone {
			font-size:70px;
			letter-spacing: -0.5px;
		}
		span.small_header {
			font-size:14px;
			margin-top: 17px;
			letter-spacing: 4.75px;
		}
		.white_diamond_wrapper {
			margin: -15px -2px 0 0;
		}
	} 
	
	
	
	ul.social_media_links {
		padding-left:20px;
		padding-right:20px;
		width:100%;
		max-width:790px;
// 		margin-left: -60px;
		margin-top: 143px;
		padding-top: 30px;
	}
	
	
	
	
} /* Media Query */




@media screen and (max-width: 1165px) {
	
	
	footer {
		padding: 191px 59px 40px;
	}
	
	
	
	
	.copyright {
		padding-left:30px;
	}
	
	
	.copyright {
		overflow: hidden;
		.inner_copyright {
			height: 72px;
			ul {
				padding-top:30px;
			}
			svg {
				margin-right:-75px;
				top: 10px;
			}
		}
	}

	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 880px) {
	
		
	
	
	
	
	
} /* Media Query */

