footer {
	width:100%;
	background:$lightblack;
	padding:500px 70px 0;
}



svg#footer_gold_twolines {
	width:137px;
	
	
	polyline {
		fill:none;
		stroke:$greybrown;
		stroke-miterlimit:10;
		stroke-width:2px;
	}
}




.inner_footer {
	width:100%;
}

.footer_left {
	position: relative;
	span.firm_title {
		color:#fff;
		font-family: $akagilblack;
		font-size:16px;
		text-transform: uppercase;
		letter-spacing: 5.5px;
		display: block;
		line-height: 30px;
		margin-bottom:57px;
		strong {
			color:$greybrown;
			font-weight: 300;
			font-style:normal;
		}
	}
	a.address {
		color:#fff;
		text-decoration: none;
		font-size:28px;
		line-height: 30px;
		letter-spacing: 1.7px;
		display: block;
	}
	a.get_directions {
		color:$red;
		text-decoration: none;
		display: inline-block;
		text-transform: uppercase;
		font-family:$akagilblack;
		letter-spacing: 6.5px;
		margin-top:40px;
		position: relative;
		
		height:30px;
		&:after {
			content:"";
			width:0;
			height:2px;
			background:$red;
			display: inline-block;
			opacity: 0;
			width:100%;
			transition: all .2s ease-in-out;
		}
		&:hover {
			&:after {
			opacity: 1;
			}
		}
	}
	span.office_hours_title {
		color:$greybrown;
		font-family: $akagilblack;
		font-size:16px;
		text-transform: uppercase;
		letter-spacing: 5.5px;
		display: block;
		line-height: 30px;
		margin-top:67px;
	}
	span.hours {
		color:#fff;
		font-family: $akagilblack;
		font-size:16px;
		text-transform: uppercase;
		letter-spacing: 5.5px;
		display: block;
		line-height: 27px;
	}
	span.dot {
		color:$greybrown;
		font-size:20px;
	}
}
