// Global


body {
	color: $lightblack;
}


// Start Here Button


.start_here_track {
	padding-left:85px;
}


.start_here_button {
	a {
		
	}
}


// Content

.content {
	font-size:17px;
	line-height: 33px;
	font-family: $trironglight;
	color:$lightblack;
	p {
		margin-bottom:35px;
	}
	blockquote {
		color:$red;
		font-size:22px;
		font-family: $akagilblack;
		line-height: 26px;
		border-left:2px solid red;
		border-right: 2px solid red;
		display: inline-block;
		padding: 4px 65px 0;
		letter-spacing: 7px;
		margin:9px 0 58px;
	}
}


.first_letter {
	float:left;
	width:100px;
	height:167px;
	background: url(#{$themepath}images/bodytext-icon.png) top left no-repeat;
	background-size: 77px 155px;
	margin:-75px 13px 0 0;
	overflow: hidden;
	span {
		font-family: $trirongmedium;
		font-size:125px;
		line-height: 120px;
		display: block;
		margin: 63px 0 0 9px;
	}
}





