// Global


body {
	color: $lightblack;
}


// Start Here Button


.start_here_track {
	padding-left:85px;
	position: relative;
}


.start_here_bg {
	width:100%;
	height:100%;
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	top:0;
	left:85px;
	z-index:99;
	opacity: 0;
	visibility: hidden;
	transition: all .3s ease-in-out;
}

/*
.start_here_bg.open {
	opacity: 1;
	visibility: visible;
}
*/


.rotated_content {
	transform: rotate(-90deg); /* Fixes a Chrome Bug instead of rotating entire red button */
	width:260px;
	height:85px;
	margin: 88px 0 0 -91px;
}


.start_here_track.visible .start_here_button {
	animation-name:start_button_move;
  animation-duration:900ms;
  animation-fill-mode: both;
  animation-timing-function:cubic-bezier(.17,.66,.34,.98);
  opacity: 1;
  visibility: visible;
 }



@keyframes start_button_move {
  from {
    transform: translateX(-90px);
 	}

  to {
    transform: translateX(0px);
   }
}




.start_here_track.visible .start_here_bg.open {
	opacity: 1;
	visibility: visible;
}

.start_here_track .start_here_bg.open {
	opacity: 0;
	visibility: hidden;
}



.start_here_track.visible .start_here_form_wrapper.open {
	opacity: 1;
	visibility: visible;
}

.start_here_track .start_here_form_wrapper.open {
	opacity: 0;
	visibility: hidden;
}



.start_here_button {
	left: 0px;
  position: fixed;
  top: 43%;
	z-index:100;
	background:$red;
	text-decoration: none;
	color:#fff;
	text-transform: uppercase;
	font-family: $oswald;
	font-size:20px;
	letter-spacing: 6px;
	height:260px;
	width:85px;
	text-align: center;
	transition: all .3s ease-in-out;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	&:hover {
		background:$greybrown;
	}
	span {
		display: inline-block;
		padding-top:30px;
		margin-right:-3px;
		position: relative;
		top:-12px;
	}
	svg#start_arrow_fixed {
		width:8px;
		display: inline-block;
		margin-top:24px;
		line.arrow_line {
			fill:none;
			stroke:#fff;
			stroke-miterlimit:10;
		}
		polygon.arrow_tri {
			fill:#fff;
		}
	}
}


.start_here_form_wrapper {
	width:100%;
	max-width:1285px;
	position: fixed;
	top: 43%;
	left: 85px;
	z-index:100;
	opacity: 0;
	visibility: hidden;
	transition: all .2s ease-in-out;
	.start_here_form {
		background: $lightblack;
		width:calc(100% - 97px);
		float:left;
		height:260px;
		padding:32px 50px 32px 45px;
		span.form_title {
			display: inline-block;
			font-family:$akagilbold;
			text-transform: uppercase;
			color:$greybrown;
			font-size:17px;
			letter-spacing: 5.1px;
			&:first-of-type {
				
				&:after {
					content:"|";
					color:$red;
					display: inline-block;
					margin:0 35px 0 25px;
				}
			}
		}
	}
	.start_here_close_form {
		width:97px;
		height:260px;
		float:left;
		background:#000;
 		text-align: center;
 		padding-top:106px;
 		cursor: pointer;
		span {
			display: block;
		}
		&:hover {
			.close_x {
				.close_x_bar {
					&:first-of-type {
						transform:rotate(-90deg) skewX(0deg) skewY(0deg);
						background:$red;
						transform-origin:8px 10px 0;
					}
					&:last-of-type {
						transform:rotate(90deg) skewX(0deg) skewY(0deg);
						background:$red;
						transform-origin: -1px 9px 0;
					}
				}
			}
			span.close {
				color:$red;
			}
		}
		
		.close_x {
			
			.close_x_bar {
				width:8px;
				height:25px;
				
				display: inline-block;
				&:first-of-type {
					transform: skewX(38deg) skewY(0deg);
					transition: all .2s ease-in-out;
					transform-origin: 0 6px 0;
					background:#fff;
				}
				&:last-of-type {
					transform: skewX(-38deg) skewY(0deg) ;
					transition: all .2s ease-in-out;
					transform-origin: 0 3px 0;
					background:#fff;
				}
			}
		}
		span.close {
			font-family: $akagilbold;
			text-transform: uppercase;
			font-size:10px;
			letter-spacing: 2px;
			display: block;
			margin-top:6px;
			color:#fff;
			transition: all .2s ease-in-out;
		}
	}
	
}


.inner_form {
	padding-top:20px;
	ul {
		list-style: none;
		overflow: hidden;
		width:100%;
		
		
		li {
			width:33.333333%;
			float:left;
			margin-bottom:13px;
			position: relative;
			padding-right:17px;
			&:after {
				content:"*";
				position: absolute;
				top:28px;
				right:35px;
			}
			
			label {
				display: none;
			}
			input {
				
			}
			textarea {
					
			}
			input, textarea {
				width:100%;
				border:none;
				font-family: $trirongmedium;
				color:$lightblack;
				font-size:15px;
				padding:19px 35px 19px 15px;
				border-radius: 4px;
				letter-spacing: 1.5px;
				height:65px;
			}
		}
		li#field_3_3 {
			padding-right:0;
		}
		li#field_3_5 {
			width:84%;
		}
		li#field_3_6 {
			display: none;
		}
		li ::-webkit-input-placeholder {
      color: $lightblack;
     }
    li ::-moz-placeholder {
      color: $lightblack;
     }
    li :-moz-placeholder {
      color: $lightblack;
    }
    li :-ms-input-placeholder {
      color: $lightblack;
     }
    li ::-moz-placeholder {
      opacity: 1;
    }
	}
	.gform_footer {
		width:16%;
		float:right;
		
		margin-top:-78px;
		input[type="submit"] {
			color:#fff;
			text-transform: uppercase;
			font-size:16px;
			width:100%;
			border:none;
			background:$red;
			height:65px;
			border-radius: 4px;
			font-family: $akagilblack;
			letter-spacing: 7.5px;
			transition: all .2s ease-in-out;
			cursor: pointer;
			&:hover {
				background: $greybrown;
			}
		}
	}
	.gfield_description {
		color:$red;
		text-transform: uppercase;
		font-family: $akagilbold;
		position: absolute;
		
		font-size: 12px;
		letter-spacing: 1.5px;
		top:45px;
		left:15px;
	}
	.instruction  {
		display: none;
	}
}


// Content

.content {
	font-size:17px;
	line-height: 33px;
	font-family: $trironglight;
	color:$lightblack;
	h1 {
		&:after {
			content:"Please Do Not Use H1 because this page already has one in the top banner";
			color:red;
			display: block;
		}
	}
	h2 {
		text-transform: uppercase;
		color:$red;
		font-family: $akagilblack;
		font-size:18px;
		letter-spacing: 3.15px;
		margin-bottom:3px;
		font-weight: 300;
		font-style: normal;
		line-height: 22px;
		margin-bottom: 5px;
	}
	h3 {
		font-family: $akagilbold;
		text-transform: uppercase;
		font-size: 17px;
		line-height: 21px;
		font-weight: 300;
		font-style: normal;
		letter-spacing: 1.2px;
		margin-bottom: 5px;
	}
	p {
		margin-bottom:35px;
	}
	ul {
		list-style: none;
		margin-bottom:35px;
		li {
			background: url(#{$themepath}images/dot.png) no-repeat scroll 0 14px;
			list-style: none;
			padding: 0 0 0 19px;
			margin-bottom: 10px;
		}
	}
	a {
		text-decoration: none;
		color:$brown;
		transition: all .2s ease-in-out;
		&:hover {
			color:$red;
		}
	}
	blockquote {
		color:$red;
		font-size:22px;
		font-family: $akagilblack;
		line-height: 26px;
		border-left:2px solid red;
		border-right: 2px solid red;
		display: inline-block;
		padding: 4px 65px 0;
		letter-spacing: 7px;
		margin:9px 0 58px;
		text-transform: uppercase;
	}
}


.first_letter {
	float:left;
	min-width:100px;
	height:auto;
	background: url(#{$themepath}images/bodytext-icon.png) top left no-repeat;
	background-size: 77px 155px;
	margin:-57px 13px 0 0;
	text-align: center;
	span {
		font-family: $trirongmedium;
		font-size:125px;
		line-height: 120px;
		display: block;
		margin: 63px auto 0px;
	}
}


// Internal Banners




.internal_banner_wrapper {
	background: url(#{$themepath}images/int-image1.jpg) top center no-repeat;
	background-size: cover;
	width:100%; 
	height:481px;
}

.inner_banner_wrapper {
	width:100%;
	max-width:1750px;
	margin:0 auto;
	padding:0 45px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}


.internal_header {
	svg {
		
	}
	h1 {
		color:#fff;
		font-family: $trirongregular;
		font-size:80px;
		font-weight: 300;
		font-style: normal;
		padding-left:65px;
		width:calc(100% - 540px);
		display: block;
	}
}


svg#inetrnal_gold_twolines {
	width:179px;
	height:40px;
	polyline {
		fill:none;
		stroke:$greybrown;
		stroke-miterlimit:10;
		stroke-width:2px;
	}
}


// Internal Containers


.internal_container {
	width:100%;
	min-height:600px;
	background:$greylight;
	padding-bottom:200px;
}


.inner_container {
	max-width:1685px;
	margin-left:auto;
	margin-right:auto;
	&:after {
		content:"";
		clear:both;
		display: block;
	}
}

.internal_content {
	float:left;
	width:60%;
	margin-top:80px;
}


// Sidebar


.sidebar_wrapper {
	float:right;
	width:40%;
	height:300px;
	padding-right:25px;
	margin-top:-348px;
}

.sidebar {
	background: #fff;
	width:100%;
	max-width: 470px;
	float:right;
	padding-top:35px;
	
}


.sidebar_form_wrapper {
	position: relative;
		&:before {
			content:"";
			display: block;
			width:114px;
			height:155px;
			background: url(#{$themepath}images/bodytext-icon.png) top left no-repeat;
			background-size:auto 155px;
			position: absolute;
			top:-79px;
			right:0;
		}
		span.large_header {
			font-family: $trirongregular;
			font-size:63px;
			line-height: 60px;
			float:left;
			max-width: 388px;
		}
		span.internal_required {
			color:$red;
			display: block;
			clear:left;
			text-transform: uppercase;
			font-family: $akagilblack;
			margin-left: 34px;
			padding-top:27px;
			letter-spacing: 2.3px;
		}
	}
	
	.sidebar_form_wrapper {
		ul {
			list-style: none;
			padding:0 35px;
			margin:52px 0 0 0;
			li {
				position: relative;
				margin-bottom: 16px;
				&:after {
					content:"*";
					position: absolute;
					top:33px;
					right:12px;
					color:$brown;
					font-family: $akagilblack;
				}
				label {
					display: none;
				}
				input,textarea {
					padding:28px 22px;
					border:none;
					border-radius: 3px;
					box-shadow: inset 0px 1px 3px 0px rgba(223, 223, 223, 0.75);
					width:100%;
					font-family: $akagilblack;
					text-transform: uppercase;
					font-size:14px;
					color:$brown;
					letter-spacing: 3.5px;
					background:#f9f9f9;
					transition: background-color .2s ease-in-out;
					&:hover, &:focus {
						background:#fff;
					}
				}
				textarea {
					height:165px;
				}
				input.non_empty, textarea.non_empty {
					background: #fff;
				}
			}
			li ::-webkit-input-placeholder {
        color: $brown;
       }
			 ::-moz-placeholder {
        color: $brown;
       }
       :-moz-placeholder {
        color: $brown;
       }
       :-ms-input-placeholder {
        color: $brown;
       }
       ::-moz-placeholder {
        opacity: 1;
       }
	

		}
		input#gform_submit_button_1 {
			width:100%;
			border:none;
			background:$greybrown;
			font-family: $trirongsemibold;
			text-transform: uppercase;
			font-size:28px;
			padding:17px;
			margin-top: 83px;
			cursor: pointer;
			transition: all .2s ease-in-out;
			&:hover {
				background: #f0d9b7;
			}
		}
		.gfield_description,.validation_message {
			color:red;
			text-transform: uppercase;
			font-family: $akagilblack;
			font-size:13px;
			letter-spacing: 3px;
			position: relative;
			left:20px;
			margin-top:10px;
		}
	}
	


svg#red_line_sidebar {
	width:56px;
	margin:27px 8px 0 -28px;
	float:left;
	
	polyline {
		fill:none;
		stroke:$red;
		stroke-miterlimit:10;
		stroke-width:2px;
	}
}








@media screen and (max-width: 1165px) {
	
	
	
	.start_here_track {
		padding-left:0;
	}
	
	
	.start_here_button {
		display: none;
	}
	
	
	.content {
		blockquote {
			text-align: center;
			margin:9px 5% 34px;
			padding: 4px 8% 0;
			line-height: 25px;
		}
	}
	
	
} /* Media Query */



@media screen and (max-width: 760px) {
	
	
	.content {
		font-size:16px;
		line-height: 24px;
		letter-spacing: 0px;
		p {
			margin-bottom: 23px;
		}
		blockquote {
			margin: 0 0 23px;
			padding: 18px 46px;
			font-size:20px;
			line-height: 23px;
			letter-spacing: 3px;
		}
	}
	
	.first_letter {
		margin: -57px 4px 0 0;
		span {
			line-height: 112px;
			position: relative;
			top:10px;
		}
		
	}
	
	

	
	
} /* Media Query */





