header {
	width:100%;
	display:flex;
	height:139px;
	position:relative;
	// position: fixed;
	z-index:150;
// 	background:#fff;
}

.logo_wrapper {
	width:530px;
	padding-left:30px;
	margin-top: 35px;
	padding-right:3%;
	img {
		max-width:100%;
		height:auto;
	}
}

.header_right {
	flex: 1;
}

.call_wrapper {
	text-align: right;
	margin-top:31px;
	span.call {
		font-family: $akagilsemibold;
		text-transform: uppercase;
		font-size:20px;
		letter-spacing: 3px;
		padding-right:20px;
		display: inline-block;
		position: relative;
		vertical-align: top;
		margin-top:12px;
		strong {
			color:$red;
			font-weight: 300;
			font-family: $akagilblack;
			font-style: normal;
		}
	}
	a {
		color:$red;
		font-size:40px;
		font-family: $trironbold;
		text-decoration: none;
		margin-right:35px;
		display: inline-block;
	}
}


.mobile_nav_close_wrapper {
		display: none;
	}
	

nav {
	margin-top:28px;
	line-height: 1;
	ul {
		list-style: none;
		margin:0;
		background:$lightblack;
		display: flex;
		li {
			font-size: 13px;
			font-family:$akagilbold;
			text-transform: uppercase;
			letter-spacing: 3px;
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: auto;
			text-align: center;
			a {
				color: #fff;
				text-decoration: none;
				display: block;
				
			}
		}
	}
}


nav {
	ul#menu-menu-1 {
 		> li {
			position: relative;
			> a {
				padding:28px 0 22px;
				transition: all .3s ease-in-out;
				height:71px;
				position: relative;
				z-index: 20;
				&:hover {
					background:$greybrown;
					color:$lightblack;
				}
			}
		}
		> li.current-menu-item {
			> a {
				background: $greybrown;
				color:$lightblack;
			}
		}
		 li.menu-item-has-children.current-menu-ancestor {
			> a {
				background: $greybrown;
				color:$lightblack;
				&:after {
					border-top: 7px solid $lightblack;
				}
				
			}
		}
		> li.menu-item-has-children {
			> a {
				
				&:after {
					content:"";
					width: 0; 
					height: 0; 
					border-left: 4px solid transparent;
					border-right: 4px solid transparent;
					border-top: 7px solid #fff;
					display: block;
					margin-left:auto;
					margin-right:auto;
					position: relative;
					top:5px;
					transition: all .2s ease-in-out;
				}
			}
		}
		li.menu-item-has-children:hover {
			ul.sub-menu {
				opacity: 1;
				visibility: visible;
				top:71px;
			}
		}
		li.menu-item-has-children:hover {
			> a {
				background: $greybrown;
				color:$lightblack;
				&:after {
					border-top: 7px solid $lightblack;
				}
			}
		}
	}
}





nav {
	ul.sub-menu {
		display: block;
		position: absolute;
		left:0px;
		width:100%;
		opacity: 0;
		visibility: hidden;
		top:60px;
		transition: all 475ms cubic-bezier(.17,.66,.34,.98);
		li.current-menu-item {
			a {
				color: $greybrown;
			}
		}
		li {
			border-top:1px solid #272c33;
			
			a {
				padding:20px 15px;
				transition: all .2s ease-in-out;
				&:hover {
					color:$greybrown;
				}
			}
		}
	}
}





body.page-template-page-home {
	nav ul#menu-menu-1 > li:first-of-type > a {
		background: $lightblack;
		color:#fff;
	}
}



.mobile_header_right {
	display: none;
}






@media screen and (max-width: 1565px) {
	
	
	
	
	nav {
    left: 0;
		position: absolute;
    top: 109px;
    width: 100%;
	}

.call_wrapper {
	display: flex;
	flex-direction: column;
	width:100%;
	max-width:400px;
	float:right;
	margin-top: 40px;
	margin-right:44px;
	a {
		order:1;
		margin-right:0;
		
	}
	span.call {
		order:2;
		margin-top: 2px;
		padding-right: 0px;
	}
}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1260px) {
	
	
	.logo_wrapper {
		padding-left: 23px;
		padding-right:23px;
		max-width:472px;
	}
	
	
} /* Media Query */


/*
@media screen and (max-width: 950px) {
	
	header {
		height:112px;
	}
	
	.logo_wrapper {
		margin-top: 24px;
		max-width:422px;
	}
	
	.call_wrapper {
		margin-top:23px;
	}
	
	
	nav {
		top: 77px;
		ul#menu-menu-1 {
			> li {
				> a {
					
				}
			}
		}
	}
	
	
}	
	
*/
 /* Media Query */



@media screen and (min-width: 1165px) {
	
	nav {
 		display: block !important;
	}
	
	
} /* Media Query */



@media screen and (max-width: 1165px) {
	
	
	header {
 		height:110px;
 		display: block;
	}
	
	
	.logo_wrapper {
		margin-top: 24px;
		max-width: 469px;
		padding-left: 27px;
	}



	
	
	
.mobile_nav_close_wrapper {
	position: absolute;
	top:33px;
	right:55px;
	display: block;
	width:40px;
	height:40px;
	cursor: pointer;
	.close_bar {
		width:100%;
		height:5px;
		background:$lightblack;
		position: absolute;
		top: 16px;
		left:0;
		animation-duration: 500ms;
		animation-fill-mode: both;
		animation-timing-function: cubic-bezier(.17,.66,.34,.98);
		animation-delay: 500ms;
		&:first-of-type {
		 animation-name: close_button_one;	
		}
		&:last-of-type {
 			animation-name: close_button_two;	
		}
	}
}





@keyframes close_button_one {
  from {
    
		transform-origin: 0px 0px;
		transform: rotate(0deg);

  }

  to {
		transform: rotate(-45deg);
		transform-origin: 22px 2px 0;
  }
}



@keyframes close_button_two {
  from {
    
    transform-origin: 0px 0px;
 		transform: rotate(0deg);

 	}

  to {
		transform: rotate(45deg);
		transform-origin: 19px 5px 0;
	}
}







nav {
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:100;
	margin-top:0;
	background:#fff;
	padding:60px 35px 0;
	overflow-y: scroll;
	display: none;

	ul {
		background:transparent;
		display: block;
		
		li {
			font-size: 15px;
			a {
				background: transparent;
				color:$lightblack;
				display: block;
				
				border-bottom:1px solid #dadada;
			}
		}
		
	}
}
	

nav {
	ul#menu-menu-1 {
		padding-bottom:200px;
 		> li {
			> a {
				padding:22px;
				height:auto;
				&:hover {
					background: #fff;
				}
			}
		}
		> li:last-of-type {
			> a {
				border-bottom: none;
			}
			
		}
		> li.current-menu-item {
			> a {
				
			}
		}
		 li.menu-item-has-children.current-menu-ancestor {
			> a {
				
				&:after {
					
				}
				
			}
		}
		> li.menu-item-has-children {
			> a {
				
				&:after {
					border-top: 7px solid $lightblack;
					display: inline-block;
					position: relative;
					top:-1px;
					margin-left:5px;
				}
			}
		}
		li.menu-item-has-children:hover {
			ul.sub-menu {
				top:0;
				opacity: 0;
				visibility: hidden;
			}
		}
		li.menu-item-has-children.open {
			ul.sub-menu {
				opacity: 1;
				visibility: visible;
				max-height: 3000px;
			}
		}
		li.menu-item-has-children:hover {
			> a {
					background:#fff;
				&:after {
					
				}
			}
		}
	}
}





nav {
	
	ul.sub-menu {
		position: relative;
		opacity: 0; 
		visibility: hidden; 
		top:0;
		left:0;
		background:#f5f5f5;
		max-height: 0px;
		transition: all .4s ease-in-out;
		li.current-menu-item {
			a {
				
			}
		}
		li {
			border-top: none;
			
			a {
				padding:22px;
				// border-bottom:1px solid #dadada;
				&:hover {
					color:$lightblack;
				}
			}
		}
	}
}



	
	
	

body.page-template-page-home {
	nav ul#menu-menu-1 > li:first-of-type > a {
		background: transparent;
		color:$lightblack;
	}
}
	
	
	
	.header_right {
	
	}
	
	
	.call_wrapper {
		display: none;
	}
	
	
	
	
	.logo_wrapper.hide, .mobile_header_right.hide {
		display: none;
	}
	
	
	.mobile_header_right {
		display: block;
		position: absolute;
		top: 12px;
		right:0;
		width:470px;
	}
	
	
	.menu_bars_wrapper {
		border:10px solid $greybrown;
		width:100px;
		padding:23px 19px 0;
		text-align: center;
		height:109px;
		float:right;
		margin-right:10px;
		position: relative;
		z-index:1;
		background: #fff;
		cursor: pointer;
		.menu_bars {
			width:100%;
			height:6px;
			background: $lightblack;
			margin-bottom:5px;
		}
		span.menu {
			text-transform: uppercase;
			font-family: $akagilbold;
			font-size: 13px;
			letter-spacing: 2.5px;
			display: block;
			margin-top:12px;
		}
	}
	
	
	svg#mobile_request_line {
		fill:none;
		stroke:$greybrown;
		stroke-miterlimit:10;
		stroke-width:2px;
		width:127px;
		.red_line_intro_path {
		
		}
	}
	
	svg#mobile_request_line_two {
		display: none;
	}
	
	
	.mobile_request_wrapper {
		clear:both;
		background: $lightblack;
		position: relative;
		top:-38px;
		padding:17px 0px 23px 40px;
	
		a.mobile_phone {
			color:$red;
			display: block;
			font-family: $trironbold;
			text-decoration: none;
			font-size:40px;
			margin-bottom:10px;
		}
		.phone_wrapper {
			
		}
		svg {
			margin-left:-95px;
			margin-right:10px;
		}
		span.mobile_cta {
			font-family: $akagilsemibold;
			text-transform: uppercase;
			text-transform: uppercase;
			color:#fff;
			font-size:18px;
			letter-spacing: 4px;
			position: relative;
			top:2px;
			br {
				display: none;
			}
			strong {
				color:$greybrown;
				font-weight: 300;
				font-style: normal;
				font-family: $akagilblack;
			}
		}
	}







.fixed_request {
		background: #fff;
		text-align: center;
		padding:13px;
		width:61%;
		float:left;
		height:82px;
		a.large_header {
			font-family:$trironbold;
			color:$lightblack;
			text-decoration: none;
			font-size:35px;
			display: block;
		}
		span.small_header {
			text-transform: uppercase;
			font-family: $akagilsemibold;
			font-size: 15px;
			letter-spacing: 3.5px;
			display: block;
			margin-top:5px;
			strong {
				color:$greybrown;
				font-weight: 300;
				font-style: normal;
				font-family: $akagilblack;
			}
		}
	}
	
	
	.mobile_fixed_start_here {
		background: $red;
		height:82px;
		text-align: center;
		color:#fff;
		text-transform: uppercase;
		font-family: $oswald;
		font-size:21px;
		letter-spacing: 5.5px;
		float:right;
		width:39%;
		span {
			position: relative;
			top:-15px;
			
		}
	}
	
	svg#mobile_fixed_start_now {
		width:8px;
		display: inline-block;
		margin-top:24px;
		line.arrow_line {
			fill:none;
			stroke:#fff;
			stroke-miterlimit:10;
		}
		polygon.arrow_tri {
			fill:#fff;
		}
	}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 760px) {
	
	
	header {
   height: 91px;
	 }
	
	.logo_wrapper {
		width:100%;
		max-width:100%;
		padding:4px 7px;
		img {
			max-width: 344px;
			margin-left:auto;
			margin-right:auto;
			display: block;
		}
	}
	
	
	.mobile_header_right {
		top: 70px;
		width:100%;
	}
	
	.mobile_request_wrapper {
		top: -88px;
		padding-left:12px;
		position: relative;
		height:68px;
		padding-top: 20px;
		text-align: center;
		a.mobile_phone {
			font-size:24px;
		}
		.phone_wrapper {
			width:100%;
			position: absolute;
			top: 83px;
			left:0;
		}
		span.mobile_cta {
			
			br {
				
			}
		}
		svg {
			
		}
	}
	
	
	
	svg#mobile_request_line {
		display: none;
	}
	
	
	
	svg#mobile_request_line_two {
		fill:none;
		stroke:$greybrown;
		stroke-miterlimit:10;
		stroke-width:2px;
		width:67px;
		display: inline-block;
		.red_line_intro_path {
		
		}
	}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 595px) {
	
	
	
	.mobile_request_wrapper {
		
		a.mobile_phone {
			
		}
		.phone_wrapper {
			
			.phone_wrapper_center {
				max-width: 310px;
				margin-left:auto;
				margin-right:auto;
			}
		}
		span.mobile_cta {
			text-align: left;
			float:left;
			
			br {
				display: inline-block;
			}
		}
		svg {
			float:left;
			margin-left:0;
			margin-top:10px;
			margin0right:4px;
		}
	}
	
	
	
	svg#mobile_request_line {
		
	}
	
	
	
	svg#mobile_request_line_two {
		
		.red_line_intro_path {
		
		}
	}

	
	
	
	
} /* Media Query */


@media screen and (max-width: 445px) {
	
	
	
	.mobile_request_wrapper {
		
		a.mobile_phone {
			text-align: right;
			padding-right: 135px;
		}
		.phone_wrapper {
			
			.phone_wrapper_center {
				margin:0 30px 0 -5px;
				float:left;
				
			}
		}
		span.mobile_cta {
			
			
			br {
				
			}
		}
		svg {
			
		}
	}
	
	
	
	svg#mobile_request_line {
		
	}
	
	
	
	svg#mobile_request_line_two {
		
		.red_line_intro_path {
		
		}
	}

	
	
	
	
} /* Media Query */



