header {
	width:100%;
	display:flex;
	height:139px;
	position: relative;
	z-index:50;
}

.logo_wrapper {
	width:530px;
	padding-left:30px;
	margin-top: 35px;
	padding-right:3%;
	img {
		max-width:100%;
		height:auto;
	}
}

.header_right {
	flex: 1;
}

.call_wrapper {
	text-align: right;
	margin-top:31px;
	span.call {
		font-family: $akagilsemibold;
		text-transform: uppercase;
		font-size:20px;
		letter-spacing: 3px;
		padding-right:20px;
		display: inline-block;
		position: relative;
		vertical-align: top;
		margin-top:12px;
		strong {
			color:$red;
			font-weight: 300;
			font-family: $akagilblack;
			font-style: normal;
		}
	}
	a {
		color:$red;
		font-size:40px;
		font-family: $trironbold;
		text-decoration: none;
		margin-right:35px;
		display: inline-block;
	}
}



nav {
	margin-top:28px;
	line-height: 1;
	ul {
		list-style: none;
		margin:0;
		background:$lightblack;
		display: flex;
		li {
			font-size: 13px;
			font-family:$akagilbold;
			text-transform: uppercase;
			letter-spacing: 3px;
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: auto;
			text-align: center;
			a {
				color: #fff;
				text-decoration: none;
				display: block;
				
			}
		}
	}
}


nav {
	ul#menu-menu-1 {
 		> li {
			position: relative;
			> a {
				padding:28px 0 22px;
				transition: all .3s ease-in-out;
				height:71px;
				position: relative;
				z-index: 20;
				&:hover {
					background:$greybrown;
					color:$lightblack;
				}
			}
		}
		> li.current-menu-item {
			> a {
				background: $greybrown;
				color:$lightblack;
			}
		}
		 li.menu-item-has-children.current-menu-ancestor {
			> a {
				background: $greybrown;
				color:$lightblack;
				&:after {
					border-top: 7px solid $lightblack;
				}
				
			}
		}
		> li.menu-item-has-children {
			> a {
				
				&:after {
					content:"";
					width: 0; 
					height: 0; 
					border-left: 4px solid transparent;
					border-right: 4px solid transparent;
					border-top: 7px solid #fff;
					display: block;
					margin-left:auto;
					margin-right:auto;
					position: relative;
					top:5px;
					transition: all .2s ease-in-out;
				}
			}
		}
		li.menu-item-has-children:hover {
			ul.sub-menu {
				opacity: 1;
				visibility: visible;
				top:71px;
			}
		}
		li.menu-item-has-children:hover {
			> a {
				background: $greybrown;
				color:$lightblack;
				&:after {
					border-top: 7px solid $lightblack;
				}
			}
		}
	}
}





nav {
	ul.sub-menu {
		display: block;
		position: absolute;
		left:0px;
		width:100%;
		opacity: 0;
		visibility: hidden;
		top:60px;
		transition: all 475ms cubic-bezier(.17,.66,.34,.98);
		li.current-menu-item {
			a {
				color: $greybrown;
			}
		}
		li {
			border-top:1px solid #272c33;
			
			a {
				padding:20px 15px;
				transition: all .2s ease-in-out;
				&:hover {
					color:$greybrown;
				}
			}
		}
	}
}





body.page-template-page-home {
	nav ul#menu-menu-1 > li:first-of-type > a {
		background: $lightblack;
		color:#fff;
	}
}



.mobile_header_right {
	display: none;
}



@media screen and (max-width: 1565px) {
	
	
	
	
	nav {
    left: 0;
		position: absolute;
    top: 109px;
    width: 100%;
	}

.call_wrapper {
	display: flex;
	flex-direction: column;
	width:100%;
	max-width:400px;
	float:right;
	margin-top: 40px;
	margin-right:44px;
	a {
		order:1;
		margin-right:0;
		
	}
	span.call {
		order:2;
		margin-top: 2px;
		padding-right: 0px;
	}
}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1260px) {
	
	
	.logo_wrapper {
		padding-left: 23px;
		padding-right:23px;
		max-width:472px;
	}
	
	
} /* Media Query */


/*
@media screen and (max-width: 950px) {
	
	header {
		height:112px;
	}
	
	.logo_wrapper {
		margin-top: 24px;
		max-width:422px;
	}
	
	.call_wrapper {
		margin-top:23px;
	}
	
	
	nav {
		top: 77px;
		ul#menu-menu-1 {
			> li {
				> a {
					
				}
			}
		}
	}
	
	
}	
	
*/
 /* Media Query */



@media screen and (max-width: 1165px) {
	
	
	header {
 		height:110px;
 		display: block;
	}
	
	
	.logo_wrapper {
		margin-top: 24px;
		max-width: 469px;
		padding-left: 27px;
	}






nav {
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:100;
	margin-top:0;
	background:#fff;
	ul {
		background:transparent;
		display: block;
		li {
			a {
				background: transparent;
				color:$lightblack;
			}
		}
	}
}
	

nav {
	ul#menu-menu-1 {
 		> li {
			
			> a {
				
				&:hover {
					
				}
			}
		}
		> li.current-menu-item {
			> a {
				
			}
		}
		 li.menu-item-has-children.current-menu-ancestor {
			> a {
				
				&:after {
					
				}
				
			}
		}
		> li.menu-item-has-children {
			> a {
				
				&:after {
					
				}
			}
		}
		li.menu-item-has-children:hover {
			ul.sub-menu {
				
			}
		}
		li.menu-item-has-children:hover {
			> a {
				
				&:after {
					
				}
			}
		}
	}
}





nav {
	ul.sub-menu {
		position: relative;
		opacity: 1; /* Temp */
		visibility: visible; /* Temp */
		top:0;
		left:0;
		li.current-menu-item {
			a {
				
			}
		}
		li {
			border-top: none;
			
			a {
				
				&:hover {
					
				}
			}
		}
	}
}



	
	
	

body.page-template-page-home {
	nav ul#menu-menu-1 > li:first-of-type > a {
		background: transparent;
		color:#fff;
	}
}
	
	
	
	.header_right {
	
	}
	
	
	.call_wrapper {
		display: none;
	}
	
	
	.mobile_header_right {
		display: block;
		position: absolute;
		top: 12px;
		right:0;
		width:470px;
	}
	
	
	.menu_bars_wrapper {
		border:10px solid $greybrown;
		width:100px;
		padding:23px 19px 0;
		text-align: center;
		height:109px;
		float:right;
		margin-right:10px;
		position: relative;
		z-index:1;
		background: #fff;
		cursor: pointer;
		.menu_bars {
			width:100%;
			height:6px;
			background: $lightblack;
			margin-bottom:5px;
		}
		span.menu {
			text-transform: uppercase;
			font-family: $akagilbold;
			font-size: 13px;
			letter-spacing: 2.5px;
			display: block;
			margin-top:12px;
		}
	}
	
	
	svg#mobile_request_line {
		fill:none;
		stroke:$greybrown;
		stroke-miterlimit:10;
		stroke-width:2px;
		width:127px;
		.red_line_intro_path {
		
		}
	}
	
	
	.mobile_request_wrapper {
		clear:both;
		background: $lightblack;
		position: relative;
		top:-38px;
		padding:17px 0px 23px 40px;
		a.mobile_phone {
			color:$red;
			display: block;
			font-family: $trironbold;
			text-decoration: none;
			font-size:40px;
			margin-bottom:10px;
		}
		svg {
			margin-left:-95px;
			margin-right:10px;
		}
		span.mobile_cta {
			font-family: $akagilsemibold;
			text-transform: uppercase;
			text-transform: uppercase;
			color:#fff;
			font-size:18px;
			letter-spacing: 4px;
			position: relative;
			top:2px;
			strong {
				color:$greybrown;
				font-weight: 300;
				font-style: normal;
				font-family: $akagilblack;
			}
		}
		
	}

	
	
	
	
} /* Media Query */

