.section_five {
	width:100%;
	height:2000px;
	
}


.section_five_inner_wrapper {
	background: $greylight;
	width:100%;
	float:left;
	margin-top: 485px;
	position:relative;
}


.featured_attorney {
	max-width:1170px;
	width:100%;
	margin:-585px auto 0;
	overflow: hidden;
	padding:0 30px;
	.featured_att_image {
		float:left;
		position: relative;
		z-index: 1;
		img {
			
		}
	}
	.featured_attorney_content {
		max-width: 667px;
		width:100%;
		height:300px;
		border:1px solid $greybrown;
		float:right;
		margin-top:-507px;
		min-height: 737px;
		padding:0 35px 0 172px;
		margin-right:16px;
		.founding_wrapper {
			text-align: right;
			margin:28px -55px 0 0;
			span.founding_attorney {
				text-transform: uppercase;
				font-family: $akagilblack;
				font-size:14px;
				letter-spacing: 5px;
				display: inline-block;
				margin-right:10px;
			}
			svg#founding_red_line {
				width:50px;
				height:17px;
				display: inline-block;
				position: relative;
				top:4px;
				polyline {
					fill:none;
					stroke:$red;
					stroke-width:2px;
				}
			}
		}
		span.name {
			font-family: $trirongregular;
			font-size: 70px;
			color:$red;
			line-height: 65px;
			margin-top:75px;
			display: block;
			letter-spacing: 2px;
		}
		span.att_content {
			font-size: 18px;
			text-transform: uppercase;
			font-family: $akagilblack;
			line-height: 36px;
			display: block;
			margin-top:30px;
			padding-left:45px;
			letter-spacing: 2px;
		}
	}
}



a.view_button {
	text-decoration: none;
	margin-top:51px;
	display: block;
	position: relative;
	right:-122px;
	overflow: hidden;
	&:hover {
		span.view_text {
			background: $lightblack;
			color:#fff;
		}
	}
	span.view_text {
		background: $greybrown;
		color:$lightblack;
		text-transform: uppercase;
		text-decoration: none;
		font-family: $akagilbold;
		letter-spacing: 5px;
		padding:25px 41px 0px;
		float:left;
		height:63px;
		font-size:14px;
		transition: all .2s ease-in-out;
		
	}
	span.view_arrow {
		background: $lightblack;
		float:left;
		height:63px;
		padding:22px 25px 0;
		img {
			width:13px;
			
		}
	}
	
}




.our_attorneys_wrapper {
	position: absolute;
	bottom:227px;
	left: -460px;
	width:1115px;
	transform: rotate(-90deg);
	span.our_att_title {
		color:$red;
		font-size:35px;
		text-transform: uppercase;
		font-family: $trironbold;
		text-align: right;
		display: block;
		letter-spacing: 6.6px;
	}
	span.our_att_line {
		display: block;
		width:96%;
		height:1px;
		background: $lightblack;
		margin-top:45px;
		&:after {
			content:"";
			width:10px;
			height:10px;
			background:$lightblack;
			float:right;
			margin-top:-4px;
		}
	}
}


.att_slideshow_wrapper {
	
}



.att_slideshow {
	
}

a.att_single_slide_link {
	text-decoration: none;
	margin-right:10px;
}

.att_single_slide {
	
	.att_image_wrapper {
		position: relative;
		img {
			max-width: 100%;
			display: block;
		}
		.att_overlay {
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			background-color: rgba(27, 30, 35, 0.9);
			.view_att_wrapper {
				position: absolute;
				bottom:25px;
				right:0;
				padding-right:45px;
				span.view_att_link {
					color:#fff;
					max-width:100px;
					font-family: $akagilbold;
					font-size:13px;
					text-transform: uppercase;
					line-height: 18px;
					letter-spacing: 3.5px;
					display: inline-block;
				}
				svg {
					width:8px;
					display: inline-block;
					transform:rotate(-90deg);
					position: relative;
					top:15px;
					line.arrow_line {
						fill:none;
						stroke:#fff;
						stroke-miterlimit:10;
					}
					polygon.arrow_tri {
						fill:#fff;
					}
				}
			}
		}
	}
	.att_title_wrapper {
		margin-top:13px;
		span {
			display: inline-block;
			font-size:27px;
			color:$lightblack;
			font-family: $trirongregular;
			letter-spacing: 1px;
		}
		svg {
			width:53px;
			display: inline-block;
			position: relative;
			top:-5px;
			margin-right:10px;
			polyline {
				fill:none;
				stroke:$red;
				stroke-miterlimit:10;
				stroke-width:1.5px;
			}
		}
	}
}










