

.section_two {
	position: relative;
	z-index:30;
	padding-left:45px;
	display: flex;
}

.intro_form_wrapper {
	width:51%;
	background:$lightblack;
	height:515px;
	margin-top:-100px;
	padding:83px;
	text-align: center;
	span.form_parts {
		color:#fff;
		font-family: $oswald;
		 font-family: $oswaldmedium;
		font-size:17px;
		letter-spacing: 1px;
		display: block;
	}
}

svg#red_line_form {
	width:53px;
	display: block;
	margin:11px auto;
	polyline {
		fill:none;
		stroke:$red;
		stroke-miterlimit:10;
		stroke-width:1.5px;
	}
}


.form_container {
	color:#fff;
	font-size:55px;
	span.injury_title {
		font-family: $trironglight;
		line-height: 59px;
		margin-top:25px;
		display: block;
		max-width:575px;
		margin-left:auto;
		margin-right:auto;
		line-height: 59px;
	}
}


.case_results_wrapper {
	width:49%;
	height:695px;
	margin-top:-195px;
	background:#fff;
}


.case_results {
	text-align: center;
	padding:130px 0 0 0;
	overflow: hidden;
	span.current_cases {
		font-size:16px;
		letter-spacing: 3.5px;
		font-family: $akagilblack;
		text-transform: uppercase;
		border-left:1px solid #000;
		border-right:1px solid #000;
		padding:5px 49px;
		display: inline-block;
		margin-bottom:27px;
		position: relative;
		z-index:1;
	}
}


.single_case {
	position: relative;
	.case_icon {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		svg {
			display:block;
			width:105px;
			margin:-120px auto 0;
			
		}
		svg#svg_cr1 {
			width:105px;
			margin:-120px auto 0;
		}
		svg#svg_cr2 {
			width:343px;
			margin:-25px auto 0;
		}
		svg#svg_cr3 {
			width:418px;
			margin:-50px auto 0;
		}
		svg#svg_cr4 {
			width:435px;
			margin:-70px auto 0;
		}
	}
	.single_case_content {
		position: relative;
		z-index: 1;
		span.case_amount {
			font-size:120px;
			color:$red;
			font-family: $trirongregular;
			letter-spacing: 1px;
			display: block;
			margin-bottom:37px;
		}
		span.case_title {
			display: block;
			font-family: $trirongsemibold;
			font-size:35px;
			text-transform: uppercase;
			letter-spacing: 2.3px;
			margin-bottom:37px;
			
		}
		span.case_results_content {
			font-size:20px;
			line-height: 28px;
			font-family: $akagilight;
			max-width:500px;
			display: block;
			margin:0 auto;
		}
	}
}


.buttons {
	text-align: center;
	position: relative;
	bottom:-120px;
	z-index: 20;
	.single_button {
		background:$greybrown;
		width:100%;
		max-width:120px;
		padding:16px 30px;
		display: inline-block;
		margin-right: -3px;
		img {
			width:15px;
		}
	}
	.back {
		
		
	}
	.next {
		
	}
}


