.section_three {
	width:100%;
	
	background:$greylight;
	margin:-85px 0 0 0;
	text-align: center;
	padding:330px 60px 0;
	h1 {
		font-size:135px;
		line-height: 115px;
		font-family: $trirongregular;
		font-style: normal;
		font-weight: 300;
		max-width:1060px;
		margin-left:auto;
		margin-right:auto;
	}
	h2 {
		font-size:22px;
		line-height:30px;
		text-transform: uppercase;
		font-family: $akagilblack;
		color:$red;
		letter-spacing: 6.6px;
		font-style: normal;
		font-weight: 300;
		border-left:2px solid $red;
		border-right:2px solid $red;
		display: inline-block;
		padding:2px 115px;
	}
}


svg#section_three_red_twolines {
	width:137px;
	margin:58px auto 75px;
	display: block;
	
	polyline {
		fill:none;
		stroke:$greybrown;
		stroke-miterlimit:10;
		stroke-width:2px;
	}
}

.section_three_container {
	max-width: 1630px;
	margin:75px auto 0;
	overflow: hidden;
	padding:0 70px;
}


.section_three_content {
	text-align: left;
	width:calc(100% - 615px);
	float:left;
}



.section_three_sidebar {
	width:615px;
	float:right;
	padding-left:130px;
	.section_three_innersidebar {
		background: #fff;
		width:100%;
		float:right;
		padding:55px 100px 131px 60px;
		span.section_three_sidebar_content {
			display: block;
			clear:both;
			text-align: left;
			font-size:18px;
			font-family: $akagilblack;
			text-transform: uppercase;
			line-height: 33px;
			letter-spacing: 1.6px;
			strong {
				font-weight: 300;
				color:$greybrown;
			}
			i {
				font-style: normal;
				color:$red;
			}
		}
	}
}



svg#section_three_gold_twolines {
	width:158px;
	float:left;
	margin-left:-103px;
	margin-bottom:29px;
	height:29px;
	polyline {
		fill:none;
		stroke:$greybrown;
		stroke-miterlimit:10;
		stroke-width:2px;
	}
}


.diamond {
	width:275px;
	position: relative;
	float:right;
	margin:-80px -70px 0 0;
	img {
		position: absolute;
		top: 45px;
		left: 89px;
		z-index:1;
	}
}


svg#black_square {
	transform: rotate(45deg);
	width:190px;
	
	rect {
		
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
		stroke:$lightblack;
		stroke-width:1px;
/*
		animation-name: stroke_draw, fill_in;
		animation-duration: 4500ms, 2000ms;
		animation-fill-mode: both;
		animation-timing-function:ease;
		animation-delay: 0, 5000ms;
*/
	}
}




/*
@keyframes stroke_draw {
  from {
    stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
 		
  }

  to {
    stroke-dashoffset: 0;
    
  }
}


@keyframes fill_in {
  from {
    fill:none;
 		opacity: 0;
  }

  to {
    fill:$lightblack;
		opacity: 1;
  }
}
*/











