.section_four {
	width:100%;
	background: $lightblack;
	padding-left:50px;
// 	padding-bottom:400px;
}


.why_choose_wrapper {
	width:100%;
	padding-left:20px;
	position: relative;
}

.why_choose_content_wrapper {
	width: 100%;
	max-width:605px;
	height:830px;
	background:#fff;
	margin-top:-190px;
	float:left;
	position: relative;
	z-index:1;
	padding-top:60px;
	span.why_choose_header {
		text-transform: uppercase;
		font-family: $akagilblack;
		font-size:16px;
		letter-spacing: 3.5px;
		float:left;
		margin:9px 0 0 18px;
	}
}


.why_choose_slideshow {
	clear:both;
	margin-top:157px;
	padding: 0 19% 0 50px;
	.slide_count_wrapper {
		background: url(#{$themepath}images/sp-icon.png) top left no-repeat;
		width:75px;
		height:152px;
		background-size: 75px 152px;
		text-align: center;
		span {
			font-family: $trironbold;
			font-size: 30px;
			display: block;
			margin-top:30px;
			display: inline-block;
		}
	}
	span.slide_title {
		font-family: $trironglight;
		color:$red;
		font-size:48px;
		letter-spacing: 0.5px;
		line-height: 48px;
		padding-left:20px;
		display: block;
		margin-top:-53px;
	}
	span.slide_content {
		text-transform: uppercase;
		font-size:18px;
		line-height: 38px;
		font-family: $akagilblack;
		padding-left:28px;
		display: block;
		margin-top:40px;
		letter-spacing: 1.9px;
	}
}


svg#why_choose_gold_twolines {
	width:60px;
	height: 25px;
	margin-left:-20px;
	float:left;
	polyline {
		fill:none;
		stroke:$greybrown;
		stroke-width:1.75px;
	}
}


.why_choose_bg_wrapper {
	width:100%;
	float:right;
	margin-left: 0%;
	margin-top:-40px;
	overflow: hidden;
	position: absolute;
	top:0;
	left:0;
	img {
		float:right;
		max-width: 100%;
		height:auto;
	}
}

.why_choose_buttons {
	text-align: center;
	position: absolute;
	bottom:-30px;
	right:8%;
	width:100%;
	max-width:250px;
	.single_button {
		background:$greybrown;
		width:50%;
		display: inline-block;
		margin-right:-3px;
		padding:17px 0;
		cursor: pointer;
		transition: all .2s ease-in-out;
		&:hover {
			background: $lightblack;
		}
		img {
			width:15px;
		}
	}
	.why_choose_back {
		
	}
	.why_choose_next {
		
	}
}



.section_four_lower {
	width:100%;
	padding:455px 0 0 0;
	text-align: center;
	overflow: hidden;
	span.large_header {
		font-family: $trironglight;
		color:#fff;
		font-size:115px;
		text-transform: lowercase;
		display: inline-block;
		max-width: 1160px;
		line-height: 124px;
	}
	span.sub_header {
		color:$red;
		font-size:24px;
		text-transform: uppercase;
		font-family:$akagilbold;
		display: inline-block;
		border-left:2px solid $red;
		border-right:2px solid $red;
		padding:5px 130px;
		letter-spacing: 6px;
	}
}


svg#section_four_gold_threelines {
	width:140px;
	display: block;
	margin:35px auto 24px;
	polyline {
		fill:none;
		stroke:$lightbrown;
		stroke-width:2px;
	}
}



.testi_wrapper {
	margin:135px auto;
	max-width:1675px;
	position: relative;
	padding-bottom: 250px;
	.testi_col {
		margin:0 0.7%;
		span.testi_excerpt {
			font-size:26px;
			font-family: $trirongregular;
			color:$lightbrown;
			display: block;
			text-align: left;
			line-height: 30px;
			letter-spacing: 0.5px;
			padding-left:23px;
		}
		.testi_content {
			display: block;
			color:#fff;
			font-family: $trirongregular;
			clear:both;
			font-size:18px;
			line-height: 30px;
			text-align: left;
			letter-spacing: 0.7px;
			padding-left:23px;
		}
		span.name {
			text-align: left;
			display: block;
			padding-left:23px;
			font-family: $akagilbold;
			color:#5a6372;
			text-transform: uppercase;
			font-size:15px;
			letter-spacing: 4px;
			margin-top:41px;
		}
	}
}



svg.testi_red_line {
	width:50px;
	float:left;
	margin:27px 0 32px;
	polyline {
		fill:none;
		stroke:$red;
		stroke-width:2px;
	}
}


.testi_buttons {
	width:100%;
	max-width:365px;
	position: absolute;
	right:30px;
	bottom:-0px;
	text-align: center;
	overflow: hidden;
	.single_button {
		cursor: pointer;
		width:49.8%;
		padding:28px 5px;
		background: $greybrown;
		transition: all .2s ease-in-out;
		&:hover {
			background: #2a2f36;
		}
		img {
			display: inline-block;
			width:15px;
			
		}
		span {
			font-family: $akagilbold;
			color:#fff;
			text-transform: uppercase;
			font-size: 13px;
			letter-spacing: 5px;
			display: inline-block;
			position: relative;
			top:-4px;
		}
	}
	.testi_back {
		float:left;
		img {
			margin-right:20px;
		}
		span {
			
		}
	}
	.testi_next {
		float:right;
		img {
			margin-left:20px;
		}
		span {
			
		}
	}
}


