

.section_two {
	position: relative;
	z-index:30;
	padding-left:45px;
}

.intro_form_wrapper {
	width:51%;
	background:$lightblack;
	float:left;
	height:1200px;
	margin-top:-100px;
}

.case_results {
	width:49%;
	background:#fff;
	float:right;
	height:1200px;
	margin-top:-195px;
}