
svg#caseresults_gold_line {
	fill:none;
	stroke:$greybrown;
	stroke-miterlimit:10;
	stroke-width:2px;
	width:95px;
	height: 20px;
	margin-left:-65px;
	.red_line_intro_path {
		
	}
}


.internal_case_results_wrapper {
	
}


.case_col {
	width:47.5%;
	&:first-of-type {
		float:left;
	}
	&:last-of-type {
		float:right;
	}
}


.internal_single_case {
	background: #fff;
	margin-bottom: 45px;
	padding:45px 40px 33px;
	span {
		display: block;
	}
	span.case_amount {
		font-family: $trironbold;
		color:$red;
		font-size:48px;
		margin-bottom: 15px;
		letter-spacing: 1.8px;
		
	}
	span.case_header {
		text-transform: uppercase;
		font-family:$akagilblack;
		font-size:17px;
		line-height: 18px;
		letter-spacing: 3.6px;
		margin-bottom:8px;
	}
	span.case_description {
		font-family: $trironglight;
		font-size:17px;
		line-height: 24px;
		margin-top:5px;
	}
	a.case_read_more {
		background: $greybrown;
		display: inline-block;
		color:#000;
		text-transform: uppercase;
		text-decoration: none;
		font-family:$akagilblack;
		font-size:14px;
		padding:13px 15px;
		letter-spacing: 4px;
		margin-top:33px;
		transition: all .2s ease-in-out;
		&:hover {
			background:$lightblack;
			color:$greybrown;
		}
	}
}





body.page-template-page-case_results {
	.internal_content {
		width:calc(100% - 525px);
		padding-right:45px;
		
	}
	.sidebar_wrapper {
		 width: 525px;
		 padding-left:0;
	}
}


@media screen and (max-width: 1805px) {
	
	
	
body.page-template-page-case_results {
	.internal_content {
		padding-right:0px;
	}
	.sidebar_wrapper {
		
	}
}
	
	
} /* Media Query */



@media screen and (max-width: 1780px) {
	
	
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1530px) {
	
	
.case_col {
	width:100%;
	&:first-of-type {
		float:none;
	}
	&:last-of-type {
		float:none;
	}
}

	
		
body.page-template-page-case_results {
	.internal_content {
		padding-right:0px;
		width:calc(100% - 515px);
	}
	.sidebar_wrapper {
		width:515px;
	}
}
	
	
} /* Media Query */


@media screen and (max-width: 1165px) {
	
	



body.page-template-page-case_results {
	.internal_content {
		width:100%;
		padding-right:0px;
		
	}
	.sidebar_wrapper {
		 width: 100%;
		 padding-left:0;
		 float:none;
		 margin-top:60px;
	}
}






.internal_case_results_wrapper {
	&:after {
		content:"";
		clear:both;
		display: block;
	}
}
	
.case_col {
	width:47.5%;
	&:first-of-type {
		float:left;
	}
	&:last-of-type {
		float:right;
	}
}

	
	
	
	
} /* Media Query */


@media screen and (max-width: 992px) {
	
	
	
	.internal_single_case {
		
		span.case_amount {
			font-size:41px;
		}
		a.case_read_more {
			
		}
	}
	
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 900px) {
	
	
	
	
	.internal_single_case {
		margin-bottom:38px;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 862px) {
	
	
	
	.internal_single_case {
		
		span.case_amount {
			font-size:36px;
		}
		a.case_read_more {
			
		}
	}
	
	
	
	
	
	
} /* Media Query */




@media screen and (max-width: 760px) {
	
	
	
	
body.page-template-page-case_results {
	.internal_content {
		
		
	}
	.sidebar_wrapper {
		 margin-top: 86px;
	}
}

	
	
	
	
	
svg#caseresults_gold_line {
	margin-left:0px;
}
	
.case_col {
	width:100%;
	&:first-of-type {
		float:none;
	}
	&:last-of-type {
		float:none;
	}
}


.internal_single_case {
	margin-bottom:30px;
	span.case_amount {
		font-size:35px;
	}
	a.case_read_more {
		margin-top:20px;
	}
	
}





	
	
	
	
} /* Media Query */



@media screen and (max-width: 537px) {
	
	
body.page-template-page-case_results {
	.internal_content {
		
		
	}
	.sidebar_wrapper {
		 margin-top: 60px;
	}
}

	
	
} /* Media Query */



@media screen and (max-width: 365px) {
	
	
.internal_single_case {
	
	span.case_amount {
		font-size:33px;
	}
	a.case_read_more {
		
	}
	
}



	
	
} /* Media Query */



