body.page-template-default {
	
	
	
	.internal_container {
		padding-top:40px;
	}
	
	.internal_content {
		margin-top:0px;
	}
	
	
	h1.intro {
		font-size:70px;
		line-height: 66px;
	}
	
	
	
	.sidebar_wrapper {
		margin-top:0;
	}
	
	
	
	
	
	
}