
.blog_wrapper {
	margin-top:0px;
}

body.single-post .single_blog_post {
	border:none;
	margin-bottom: 0px;
	padding-bottom:0px;
}



.single_blog_post {
	padding-bottom:55px;
	border-bottom: 1px solid $greybrown;
	margin-bottom: 55px;
}

body.blog .single_blog_post {
	&:last-of-type {
			margin-bottom: 0px;
	}
}




.entry_info {
	font-family: $akagilbold;
	text-transform: uppercase;
	font-size:17px;
	letter-spacing: 1px;
	span {
		display: inline;
	}
	span.my_date {
		
	}
	span.date_spacer {
		margin:0 10px;

	}
}


.blog_content {
	margin-top:35px;
}

a.blog_readmore {
	background: $lightblack;
	color:#fff;
	text-transform: uppercase;
	font-family:$akagilblack;
	font-size:11px;
	letter-spacing: 2px;
	padding:2px 17px;
	display: inline-block;
	margin-top:33px;
	transition: all .2s ease-in-out;
	&:hover {
		background: $greybrown;
		color:$lightblack;
	}
}

// The sidebar has changed style again according to the mock up. So below is the variations with a new class for the blog sidebars...


span.sidebar_blog_large_header {
	font-size: 55px;
  letter-spacing: 0px;
  line-height: 65px;
  max-width: 458px;
  text-transform: lowercase;
  width: 100%;
  font-family: $trirongregular;
  margin-top:25px;
  float: left;

}

.blog_svg {
	margin-right:30px !important; // Hack to override all the other global svg styles on the global sidebars
}


.recent_posts_feed {
	h3 {
		display: none;
	}
	ul {
		width:100%;
		padding:35px 13% 0 55px;
		list-style: none;
		clear:both;
		padding-bottom:20px;
		li {
			text-transform: uppercase;
			font-family: $akagilbold;
			font-size:17px;
			letter-spacing: 2px;
			border-top:1px solid #e6e6e6;
			line-height: 20px;
			padding:18px 65px 18px 20px;
			display: block;
			transition: all .2s ease-in-out;
			cursor: pointer;
			position: relative;
			&:last-of-type {
				border-bottom:1px solid #e6e6e6;
			}
			&:hover {
					background: $greybrown;
					svg {
						opacity: 1;
					}
				}
			a {
				text-decoration: none;
				color:$lightblack;
				display: inline-block;
			}
			svg {
				position: absolute;
				top:23px;
				right:-27px;
				opacity: 0;
				transition: all .2s ease-in-out;
			}
			span.my_cat_count {
				display: inline-block;
			}
		}
	}
}


 .sidebar.lower_sidebar {
	padding-top:32px;
	margin-top:5px;
	.recent_posts_feed {
		ul {
			li {
				padding:17px 20px 13px;
				a {
					
				}
			}
		}
	}
}



.sidebar.lower_sidebar:last-of-type {
	margin-bottom: 0;
}



#nav_below {
	a {
		background:#fff;
		font-family: $akagilblack;
		text-transform: uppercase;
		color:$lightblack;
		font-size: 14px;
		padding-top: 15px;
		padding-bottom: 12px;
		display:block;
		letter-spacing: 3.5px;
		line-height:1;
		margin-bottom:42px;
		position: relative;
		transition: all .2s ease-in-out;
		&:hover {
			color:$red;
		}
	}
	.nav_previous {
		display: inline-block;
		a {
			text-align: right;
			margin-right:-5px;
			border-right:1px solid $greybrown;
			padding-left:80px;
			padding-right:23px;
		}
	}
	.nav_next {
			display: inline-block;
		a {
			text-align: left;
			border-left:2px solid $greybrown;
			padding-left:23px;
			padding-right:80px
		}
	}
}


svg#blog_back_arrow {
	position: absolute;
	top:0;
	left:0px;
	transform: rotate(90deg);
	transform-origin: 22px 39px 0;
}


svg#blog_next_arrow {
	position: absolute;
	top:0;
	right:0px;
	transform: rotate(-90deg);
	transform-origin: -16px 40px 0;
}


svg#blog_back_arrow, svg#blog_next_arrow {
		width:8px;
		line.arrow_line {
			fill:none;
			stroke:$red;
			stroke-miterlimit:10;
			stroke-width:2px;
		}
		polygon.arrow_tri {
			fill:$red;
		}
	}






@media screen and (max-width: 1440px) {
	
	
	span.sidebar_blog_large_header {
		font-size: 50px;
		max-width: 358px;
	}
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1165px) {
	
	
	
	#nav_below {
		text-align: center;
		a {
			
		}
	}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 760px) {
	
	
	.single_blog_post {
		padding-bottom:35px;
		border-bottom: 1px solid $greybrown;
		margin-bottom: 35px;
	}
	
	body.blog .blog_content {
    margin-top: 20px;
	}
	
	
	a.blog_readmore {
		margin-top: 26px;
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 630px) {
	
	
	
	#nav_below {
		text-align: center;
		a {
			
		}
		.nav_previous, .nav_next {
			width:245px;
			display: block;
			margin-left:auto;
			margin-right:auto;
			a {
				border:none;
				
			}
		}
		.nav_previous {
			a {
				margin-bottom:20px;
				margin-top:10px;
			}
		}
		
		
		}
	
	
	
	
	
	
	
} /* Media Query */

